/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
section.media-text {

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		&>div {
			max-width: 600px;
			width: 90%;

			@media (max-width: 800px) {
				padding: 48px 0;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}

		&>img {
			object-fit: cover;
			height: 500px;
			width: 100%;

			@media (max-width: 800px) {
				height: auto;
			}
		}
	}
}

.gallery-item {
	padding: 0 32px;

	@media (max-width: 1200px) {
		padding: 0 18px;
	}

	@media (max-width: 600px) {
		padding: 0 10px;
	}
}

.gallery-item img {
	border: none !important;
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
	@media (min-width: 800px) {
		&.has-image-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.media-text {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;

	@media (min-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}
}