header.page-header {
	min-height: 50vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 64px 0;
	background-size: cover;
	background-position: center;
	position: relative;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		background-color: rgba(58, 59, 64, 0.4);
	}

	&>div {
		max-width: 960px;
		margin: 0 auto;
		width: 90%;
		position: relative;
		z-index: 2;

		&>* {
			max-width: 650px;
		}
	}

	& h1 {
		margin: 0;
		font-size: 64px;
		text-shadow: 2px 2px 0 rgba(58, 59, 64, 0.6);

		@media (max-width: 800px) {
			font-size: 48px;
		}
	}

	& p {
		font-size: 22px;
		margin-bottom: 0;

		@media (max-width: 800px) {
			font-size: 18px;
		}
	}

	& a.btn {
		margin-top: 24px;
	}
}

/*-----------------------------------*\
	ARTICLE
\*-----------------------------------*/
main.main-content {
	&>article {
		margin: var(--xLarge) auto;

		& section {
			width: 90%;
			max-width: 960px;
			margin-right: auto;
			margin-left: auto;

			&.is-narrow {
				width: 90%;
				max-width: 600px;
				margin-right: auto;
				margin-left: auto;
			}

			&.is-wide {
				width: 90%;
				max-width: 1024px;
				margin-right: auto;
				margin-left: auto;
			}

			&.is-extra-wide {
				width: 90%;
				max-width: 1200px;
				margin-right: auto;
				margin-left: auto;
			}

			&.is-full-width {
				width: 100%;
				max-width: 100%;
				margin-right: auto;
				margin-left: auto;
			}

			&.no-content {
				margin: 80px auto;
			}
		}
	}
}