/*----------------------------------------------------------------*\
	QUESTIONS
\*----------------------------------------------------------------*/
section#faq {
	width: 100%;
	padding: 32px 0;
	clear: both;
	background-color: #b657db;
	background-image: url(../images/stitched-bg-purple.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&>div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1024px;
		max-width: 90%;

		@media (max-width: 800px) {
			flex-wrap: wrap;
		}

		& h2 {
			margin-top: 0;
			font-family: 'Muli Bold', sans-serif;
			color: #fff;

			@media (max-width: 800px) {
				width: 100%;
				text-align: center;
			}
		}

		&>div {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 800px) {
				width: 95%;
				max-width: 500px;
				margin: 0 auto;
			}

			@media (max-width: 500px) {
				display: block;
				text-align: center;
			}

			& span.or {
				display: inline-block;
				width: 75px;
				font-size: 22px;
				color: #fff;
				text-align: center;
				text-transform: uppercase;

				@media (max-width: 500px) {
					width: 100%;
					margin: 1em 0;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	FOOTER
\*----------------------------------------------------------------*/
footer,
.woocommerce footer {
	padding: 1px 0 145px 0;
	margin: 0;
	background-color: #fff;
	background-image: url(../images/feet-bg.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: 100% auto;

	@media (max-width: 800px) {
		background-size: auto;
	}

	& .icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1024px;
		max-width: 90%;
		padding-top: 1.5em;
		margin: 1em auto;

		@media (max-width: 960px) {
			flex-wrap: wrap;
		}

		& img {
			width: auto;
			height: 50px;
			margin: 0 8px;

			@media (max-width: 960px) {
				height: 40px;
			}
		}

		&>div:first-child {
			@media (max-width: 960px) {
				width: 100%;
				text-align: center;
			}

			& img {
				height: 60px;
			}
		}

		&>.trustpilot-widget {
			width: 420px;
			padding: 0;

			@media (max-width: 960px) {
				width: 100%;
				margin: 24px 0;
			}
		}

		&>div:last-child {
			@media (max-width: 960px) {
				margin: 0 auto;
			}
		}
	}

	& .info {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 95%;
		max-width: 1024px;
		padding: 24px 0;
		margin: 1em auto;

		&>div {
			width: 14%;

			@media (max-width: 800px) {
				width: 25%;
			}

			@media (max-width: 500px) {
				width: 50%;
			}
		}

		&>div:first-child {
			width: 19%;

			@media (max-width: 800px) {
				width: 48%;
				margin: 24px 0;
			}

			@media (max-width: 500px) {
				width: 100%;
				margin: 24px 0 0 0;
			}
		}

		&>div:nth-child(2) {
			width: 24%;

			@media (max-width: 800px) {
				width: 48%;
				margin: 24px 0;
			}

			@media (max-width: 500px) {
				width: 100%;
				margin: 0 0 24px 0;
			}
		}

		& ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		& p {
			margin-top: 0;
		}
	}

	& p a {
		font-family: Muli, sans-serif;
		color: #3a3b40;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	& li {
		padding: 0.25em;

		& a {
			font-family: Muli, sans-serif;
			color: #3a3b40;
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	& form {
		position: relative;
		width: 90%;
		margin: 0 !important;

		& label {
			margin: 0;
			font-size: 12px !important;
			color: black;
			text-transform: none;
		}

		& .ginput_container_email {
			margin-top: 0 !important;
		}

		& .gform_footer {
			display: flex;
			justify-content: flex-end;
			padding: 0;
		}

		& input.gform_button {
			padding: 0.5em 1em !important;
			margin: 0 !important;
		}
	}
}

/*----------------------------------------------------------------*\
	COPYRIGHT & E5 CREDIT
\*----------------------------------------------------------------*/
section.copyright {
	padding: 4px 1em;
	background: #000;

	@media (max-width: 800px) {
		padding: 4px 1em 50px;
	}

	& .center-content {
		width: 1024px;
		max-width: 90%;
		margin: 0 auto;
	}

	& p {
		display: inline-block;
		font-size: 14px;
		color: #d5d5d5;
	}

	& img {
		vertical-align: middle;
	}
}