/*----------------------------------------------------------------*\
	TYPOGRAPHY
\*----------------------------------------------------------------*/
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Muli Bold';
	src: url('../fonts/Muli-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Muli Black';
	src: url('../fonts/Muli-Black.ttf') format('truetype');
}

body {
	font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Muli Black', sans-serif;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
	font-family: Muli Bold, sans-serif;
}

h4,
h5,
h6 {
	font-size: 16px;
	font-family: Muli Bold, sans-serif;
}

p {
	font-size: 16px;
	line-height: 1.5;
}

p a {
	font-family: 'Muli Black', sans-serif;
	text-decoration: underline;
}

hr {
	border: 1px dashed #009BB0;
}

ol li:not(:last-child) {
	margin-bottom: 22px;
}

/*----------------------------------------------------------------*\
	BUTTON
\*----------------------------------------------------------------*/
.woocommerce div.product form.cart button.size-chart {
	border-color: #009bb0;
	color: #009bb0;
	box-shadow: 8px 8px #009bb0;
	font-family: Muli Black, sans-serif;
	text-transform: uppercase;
	padding: 8px 16px;

	&:hover,
	&:focus {
		color: #fff;
	}
}

a.btn+a.btn {
	margin-left: 24px;
	margin-top: 20px;
}

a.btn {
	display: inline-block;
	position: relative;
	padding: .75em 1.25em;
	font-size: 14px;
	font-family: 'Muli Black', sans-serif;
	font-weight: 800 !important;
	text-transform: uppercase;
	text-decoration: none !important;
	background: #fff;
	border: 2px solid #8949A2;
	color: #8949A2;
	box-shadow: 8px 8px #8949A2;
	transition: all .15s linear;

	&:hover,
	&:focus {
		background-color: #4D1B61;
		color: #fff;
	}

	&.darkblue {
		border-color: #02699E;
		color: #02699E;
		box-shadow: 8px 8px #02699E;

		&:hover,
		&:focus {
			background-color: #004C73;
			color: #fff;
		}
	}

	&.teal {
		border-color: #009BB0;
		color: #009BB0;
		box-shadow: 8px 8px #009BB0;

		&:hover,
		&:focus {
			background-color: #004C73;
			color: #fff;
		}
	}

	&.yellow {
		border-color: #E6C500;
		color: #E6C500;
		box-shadow: 8px 8px #E6C500;

		&:hover,
		&:focus {
			background-color: #999900;
			color: #fff;
		}
	}

	&.no-shadow {
		border: none;
		box-shadow: none;
	}
}

/*----------------------------------------------------------------*\
	FORM
\*----------------------------------------------------------------*/
form h4 {
	margin: 8px 0 0 0;
}