/*----------------------------------------------------------------*\
	PRIMARY NAV
\*----------------------------------------------------------------*/
nav.primary {
	display: flex;
	z-index: 1000;
	position: fixed;
	top: 0;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 64px;
	background: white;
	box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.15);

	@media (max-width: 1050px) {
		padding: 0 10px;
	}

	&.notification-on {
		top: 34px;
	}

	& .left,
	& .right {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	& a.logo {
		padding: 1em 0;

		& img {
			width: auto;
			height: 56px;
		}
	}

	& .right a.phone {
		margin-left: 0;

		&:after {
			display: none;
		}
	}

	& a.phone {
		position: relative;
		margin-left: 64px;
		color: #8949a2;

		@media (max-width: 350px) {
			font-size: 12px;
		}

		@media (max-width: 1050px) {
			margin-left: 24px;
		}

		&:after {
			display: block;
			position: absolute;
			top: -25%;
			left: -32px;
			width: 1px;
			height: 150%;
			content: '';
			background: #b6b6b6;

			@media (max-width: 1050px) {
				left: -13px;
			}
		}

		&:hover,
		&:focus {
			& span {
				text-decoration: underline;
			}
		}
	}

	& button.mobile-menu-toggle {
		display: none;
	}

	& ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;

		& li a {
			padding: 2em 1em;
			border-top: 3px solid transparent;
			color: #000;
			font-family: "Mulish", sans-serif;
			font-weight: 900;
			transition: all 0.2s linear;

			@media (max-width: 1050px) {
				padding: 2em 0.5em;
			}

			&:hover,
			&:focus {
				border-color: #b657db;
				font-weight: 900;
			}
		}

		& li.is-button a {
			background: #8949a2;
			color: #fff;
			padding: 10px 16px;
			border: 0;
			margin: 0 0 0 8px;

			&:hover,
			&:focus {
				background: #009bb0;
			}
		}
	}

	& .icon-menu {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 0 64px;
		padding: 0;

		@media (max-width: 1050px) {
			margin-left: 24px;
		}

		&:after {
			display: block;
			position: absolute;
			top: -25%;
			left: -32px;
			width: 1px;
			height: 150%;
			content: '';
			background: #b6b6b6;

			@media (max-width: 1050px) {
				left: -16px;
			}

			@media (max-width: 800px) {
				display: none;
			}
		}

		& a:hover,
		& a:focus {
			& svg path {
				fill: #4d1b61;
			}
		}

		& .cart {
			position: relative;
			padding: 0 1.5em;

			& span.count {
				display: flex;
				position: absolute;
				top: -14px;
				right: 10px;
				justify-content: center;
				align-items: center;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				color: #fff;
				font-size: 10px;
				background: #009bb0;
			}
		}

		& button {
			padding: 0;
			border: 0;
			cursor: pointer;
			background-color: transparent;

			&:hover,
			&:focus {
				& svg path {
					fill: #4d1b61;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SIMPLIFIED
\*----------------------------------------------------------------*/
nav.primary.simplified {
	& .icon-menu {
		margin: 0;

		&::after {
			display: none;
		}
	}
}

/*----------------------------------------------------------------*\
	MOBILE
\*----------------------------------------------------------------*/
@media (max-width: 800px) {
	button.mobile-menu-toggle {
		display: block !important;
		border: none;
		cursor: pointer;
		background-color: transparent;

		& svg {
			height: 35px;
		}
	}

	nav.primary .right {
		z-index: 2;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		align-items: flex-start;
		width: 80%;
		background-color: #009bb0;
		transition: all 0.35s linear;
		transform: translateX(100%);

		&.active {
			transform: translateX(0);
		}

		& .menu-primary-container {
			margin-top: 24px;
		}

		& button.mobile-menu-toggle {
			position: absolute;
			top: 0;
			right: 0;

			& svg {
				width: 60px;
				height: 60px;

				& path {
					fill: #004c73;
				}
			}
		}

		& ul {
			display: block;

			& a {
				display: block;
				padding: 16px 24px;
				border-top: 0;
				border-left: 6px solid transparent;
				color: #fff;
				font-size: 24px;
			}
		}

		& .icon-menu {
			display: block;
			position: absolute;
			bottom: 50px;
			width: 100%;
			margin: 0;
			margin: 0;
			padding: 24px 0;
			border-top: 6px solid #004c73;
			text-align: center;

			& a,
			& button {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 60px;
				height: 40px;

				&.cart {
					padding: 0;
				}

				& svg {
					transform: scale(1.25);

					& path {
						fill: #004c73;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	nav.primary a.logo img {
		height: 40px;
	}

	nav.primary .right .icon-menu {
		text-align: left;
	}
}

/*----------------------------------------------------------------*\
	BANNER
\*----------------------------------------------------------------*/
#Coupon_Banner p {
	margin: 0;
	padding: 8px 5px;
	color: #ffffff;
	text-align: center;
	background-color: #7b4799;

	& a {
		color: #fff;
	}
}

/*----------------------------------------------------------------*\
	SEARCH
\*----------------------------------------------------------------*/
.search-modal {
	display: flex;
	opacity: 0;
	z-index: -1000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	background-color: rgba(137, 73, 162, 0.95);
	transition: opacity 0.35s linear;

	&.active {
		opacity: 1;
		z-index: 1000;
	}

	& button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 75px;
		height: 75px;
		border: none;
		cursor: pointer;
		background: transparent;
	}

	& form {
		& label {
			display: block;
			color: #fff;
			font-size: 80px;
			font-family: Muli Black, sans-serif;
		}

		& input[type=search] {
			display: block;
			width: 350px;
			padding: 0.5em 1em;
			font-size: 22px;
		}

		& input[type=submit] {
			margin-top: 1em;
			padding: 1em 3em;
			border-color: #009bb0;
			color: #009bb0;
			box-shadow: 0.3125rem 0.3125rem 0 #009bb0;

			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}
}