.metaBoxCustomContainer {
	border: 1px solid #eee;
	padding: 0;
	margin: 5px -5px;
}

.metaBoxCustomContainer p {
	padding: 0 10px;
}

.metaxBoxCustomTitle {
	padding: 5px;
	margin: 0;
	background: #EEE;
}

.metaBoxCustomLogoContainer {
	border: 1px solid #eee;
	padding: 0;
	margin: 5px;
}

.metaxBoxCustomLogoImageContainer {
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.metaBoxCustomLogoContainer img {
	max-width: 100%;
	transition: box-shadow .5s, -webkit-box-shadow .5s, -moz-box-shadow .5s;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0);
	border: 1px solid #f0f0f0;
}

.metaBoxCustomLogoContainer a {
	outline: none;
}

.metaBoxCustomLogoContainer a:hover img {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
	border-color: transparent;
}

.metaBoxCustomLogoContainer p {
	margin: 0;
}

.metaBoxSpecContainer {
	border: 1px solid #eee;
	padding: 0;
	margin: 5px -5px;
}

.metaBoxSpecContainer p {
	padding: 0 10px;
}

.metaxBoxCustomLogoTitle {
	background: #F5F5F5;
}