/* requires: admin.css, master.css, woocommerce.css */

#specPreviewContainer {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	clear: both;
}

#specPreview {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	/*background-color: #f9f9f9;*/
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	z-index: -2;
	min-height: 372px;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
}

#specPreview.preload:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	background: rgba(22, 76, 112, 0.73) url('../images/upload-in-progress.gif') no-repeat center center;
}

#specPreviewContainer.pinned #specPreview,
#specPreviewContainer.pinned .faceSelectContainer {
	box-shadow: #ccc 1px 1px 15px 3px;
}

.faceSelectContainer {
	margin: 5px 0;
	padding: 0;
	display: flex;
	align-items: center;
    justify-content: space-evenly;
	/*margin-bottom: 40px;*/
}

.faceSelectorFace {
	width: 100%;
	text-align: center;
	line-height: 60px;
	font-size: 150%;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid #e9ebf1;
	background: #fafafb;
	color: #908fad;
}

.faceSelectorFace:hover {
	border: 1px solid #d3d3de;
	background: #f8f8fb;
	color: #8b8aab;
}

.faceSelectorFace.active,
.faceSelectorFace:hover {
	border: 1px solid #eee;
	background: #fdfdfd;
	color: #666;
	box-shadow: #ddd 0px 4px 5px -2px;
	transform: scale(1.025);
}

.faceSelectorFace.active {
	transform: scale(1.1);
}

div.builtLogoContainer {
	padding: 10px;
	height: auto;
}

div.builtLogo {
	cursor: pointer;
	width: auto;
	float: left;
	height: 130px;
	text-align: center;
	margin: 0;
	margin-top: 2px;
	margin-bottom: 0;
	padding: 7px 8px;
	position: relative;
	border: 1px solid transparent;
}

@media (max-width: 800px) {
	div.builtLogo {
		width: 25%;
	}
}

@media (max-width: 640px) {
	div.builtLogo {
		width: 50%
	}
}

@media (max-width: 360px) {
	div.builtLogo {
		width: 100%
	}
}

div.builtLogo:hover {
	/* border: 1px solid #ccc; */
	box-shadow: #ccc 0px 2px 5px 1px;
	margin-bottom: 2px;
	margin-top: 0;
}

.builtLogo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	width: auto;
	max-height: 50px;
	height: auto;
}

.builtLogo figure {
	padding: 0;
	margin: 16px;
}

.builtLogo figcaption {
	color: #C0CCDA;
	font-size: 80%;
	font-style: italic;
	margin-top: 8px;
	text-align: center;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

#specPreviewContainer.pinned {
	position: fixed;
	z-index: 999;
	right: 57%;
	top: 150px;
	max-width: 450px;
}

#specPreviewContainer.pinned .faceSelectContainer {
	margin-bottom: 0;
}

@media (max-width: 1200px) {
	#specPreviewContainer.pinned {
		max-width: 400px;
	}
}

@media (max-width: 1000px) {
	#specPreviewContainer.pinned {
		right: auto;
		left: 3%;
		max-width: 350px;
	}
}

@media (max-width: 850px) {
	#specPreviewContainer.pinned {
		right: auto;
		left: 1%;
		max-width: 325px;
	}
}


@media (max-width: 768px) {
	#specPreviewContainer.pinned {
		left: 1%;
		right: 1%;
		max-width: 98%;
		position: relative;
		top: 0 !important;
	}
}

.lqpix-pintop {
	position: absolute;
	top: -15px;
	right: 4px;
	cursor: pointer;
	color: #9fa8b1;
	font-size: 30px;
}

.lqpix-pintop:hover:before,
.lqpix-pintop:hover {
	color: #19b8de;
}

.lqpix-pintop.pinned:before,
.lqpix-pintop.pinned {
	color: #00b8c2;
}
#product-addons-total {
	display: none;
}

#specPreviewContainer .socialShareContainer {
	position: absolute;
	width: 30px;
	height: auto;
	top: 30px;
	right: -29px;
	background-color: #5D88CE;
	padding: 5px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
#specPreviewContainer .socialShareContainer:hover {
	background-color: #5082D4;
}
#specPreviewContainer .socialShareContainer .shareExpandButton {
	color: #eee;
	font-size: 20px;
}

#specPreviewContainer .socialShareContainer:hover .shareExpandButton {
	color: #fff;
}

#specPreviewContainer .socialShareContainer .a2a_kit.a2a_floating_style.a2a_vertical_style {
	position: static;
	left: -2px;
	display: none;
	padding: 0;
    flex-direction: column;
}

#specPreviewContainer .socialShareContainer .a2a_kit.a2a_floating_style.a2a_vertical_style > a {
    padding: 4px 0;
}


#specPreviewContainer .socialShareContainer .a2a_kit.a2a_floating_style.a2a_vertical_style.visible {
	display: flex;
}


header[role=banner] {
	height: auto !important;
}

.customLogoView {
	max-height: 100px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.product-addon .addon-description {
    width: 100%;
}

.product-addon.product-addon-logo-id {
	display: none;
}

[type=button].lpBtn {
	border: 2px solid #919299;
	background-color: transparent;
	color: #919299;
	font-family: Avenir-Medium, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	padding: .75em 1.25em;
	outline: 0;
	white-space: nowrap;
	-webkit-user-select: none;
}

.product-addon.product-addon-preview-details {
	display: none;
}

.product-addon.product-addon-stripe-style {
	& .form-row {
		align-items: center;
		display: flex;
	}
	  & input[type="radio"] {
		width: 1.5em;
		height: 1.5em;
		background-color: #e8e8e8;
		border: 4px solid #e8e8e8;
	}
	& input[type="radio"]:checked {
		background-color: #000;
	}
}

.product-addon.product-addon-pom-pom-colors,
.product-addon.product-addon-tassel-colors {
	& .addon-name::after {
		content: ' (up to 3 colors)'
	}
}

.product-addon[class*="-nudge"] {

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;

	&>h3+span {
		width: 100%;
	}

	&>p[class*="-nudge-"] {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 112px;
		height: 61px;
		border: 1px solid #E4E4EE;
		color: #918FA5;
		background-color: #F9F9F9;
		margin: 0;
		padding: 0;
	 	margin-left: -1px;


		&[data-horizontal] {
			/*display: none;*/
		 }

	 	&:hover {
		 	background-color: #FbFbFb;
			color: #706E81;
		}

		& >  input {
			display: none;
		}

		& > label {
			display: none;
		}

		& .nudger {

			width: 100%;
			height: 100%;
			background: transparent;
			border: transparent;
			box-shadow: none;
			transition: none;
			padding: 0 !important;

			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			& .dsahicons {
				font-size: 30px;
	  		}
		}
  	}

	&>p:first-child {
		margin-left: 0;
	}
}

.lpScrollToSock {
    display: none;
}
@media screen and (max-width: 782px) {
	#specPreviewContainer .socialShareContainer {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
    .lpScrollToSock {
        display: block;
        position: fixed;
        padding: 10px;
        background: #04bdf6;
        color: #ffffff;
        z-index: 1000001;
        cursor: pointer;
        font-weight: bold;
        right: 0;
        top: 50%;
        transform: rotate(90deg);
        transform-origin: right top;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

}
