	/*********************************************\
	SITE STYLES PRIOR TO THE 2018 REFRESH
\*********************************************/
	.woocommerce div.product form.cart .variations select {
		width: 100%;
		cursor: pointer
	}

	.select-style {
		cursor: pointer
	}

	.products .wpc-customize-product {
		display: none !important
	}

	.show_on_desktop {
		display: block !important
	}

	.show_on_mobile {
		display: none !important
	}

	.show_on_desktop_button {
		display: block !important
	}

	.show_on_tablet_button {
		display: none !important
	}

	.size_chart_area {
		float: left;
		margin-left: 2%;
		margin-top: -.43%;
		display: block
	}

	.size_chart_area.show_on_tablet_button {
		margin-top: 5%
	}

	.size_chart_area.show_on_tablet_button td {
		padding-right: 0 !important
	}

	.wpc-container {
		margin-top: 2%
	}

	#new-text::-webkit-input-placeholder {
		color: red
	}

	#new-text:-moz-placeholder,
	#new-text::-moz-placeholder {
		color: red
	}

	#new-text:-ms-input-placeholder {
		color: red
	}

	.size_chart_link {
		padding-top: 3px;
	}

	.video_section_add {
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 2%
	}

	.video_section_add .fancybox-youtube-button {
		text-decoration: none
	}

	.fancybox-youtube-button,
	.size_chart_button {
		background: #0c99ae none repeat scroll 0 0 !important;
		border-bottom: medium none !important;
		border-radius: 0;
		box-shadow: .3125rem .3125rem 0 #eee;
		display: inline-block;
		font-size: .8125em !important;
		font-weight: 700 !important;
		height: 40px;
		min-width: 115px;
		padding: 5px 9px;
		text-transform: uppercase;
		color: #fff !important;
		text-decoration: none !important
	}

	.select-style select {
		-moz-appearance: none !important;
		-webkit-appearance: none !important
	}

	#cliparts-panel .AccordionPanelContent .filter-set-container,
	#text-panel div.AccordionPanelContent .text-tool-container div:nth-child(6) div #curved-txt-spacing-slider,
	#text-panel div.AccordionPanelContent .text-tool-container div:nth-child(6) div .radius-label,
	#text-panel div.AccordionPanelContent .text-tool-container div:nth-child(6) div .spacing-container,
	#text-panel div.AccordionPanelContent .text-tool-container div:nth-child(7),
	#text-panel div.AccordionPanelContent .text-tool-container div:nth-child(8),
	#text-panel div.AccordionPanelContent .text-tool-container div:nth-child(9) {
		display: none !important
	}

	#shapes-panel,
	.postid-4631 .backcontainer,
	.postid-4631 .viewbtn.fancybox-iframe.fancybox {
		display: none !important
	}

	.div.pp_content_container .pp_content {
		height: auto !important
	}

	.div.pp_woocommerce .pp_details {
		padding-top: 0 !important
	}

	#wpc-tools-box-container .text-label {
		width: 91px !important;
		width: 5.6875rem !important
	}

	.AccordionPanelContent #clipart-bg-color-container {
		margin-bottom: 10px;
		margin-bottom: .625rem
	}

	.woocommerce-cart section#secondary,
	.woocommerce-checkout section#secondary {
		height: 90px !important;
		height: 5.625rem !important
	}

	.form-row.form-row-wide.create-account input {
		display: inline-block;
		width: 10%
	}

	.form-row.form-row-wide.create-account label.checkbox {
		display: inline-block;
		width: 70%
	}

	.create-account input,
	.create-account label,
	.payment_method_authorize_net_cim_credit_card input,
	.payment_method_authorize_net_cim_credit_card label,
	.payment_method_paypal input,
	.payment_method_paypal label {
		width: auto !important;
		float: none !important;
		display: inline-block !important
	}

	@media only screen and (max-width:54rem) {
		.video_section_add {
			width: 80%
		}

		.wpc-container .editor-heading-bar {
			width: 100% !important;
			display: block !important
		}
	}

	@media only screen and (max-width:48rem) {
		.show_on_tablet_button {
			display: block !important
		}

		.show_on_desktop_button {
			display: none !important
		}

		.size_chart_area {
			float: left;
			margin-left: 0;
			margin-top: 0
		}

		.woocommerce .variations_form .intro,
		.woocommerce .variations_form .intro .show_on_desktop {
			display: block !important
		}

		.woocommerce .variations_form .intro .show_on_mobile {
			display: none !important
		}
	}

	@media only screen and (max-width:40rem) {
		.woocommerce div.product div.summary {
			margin-bottom: 0 !important;
			margin-bottom: 0
		}

		.show_on_mobile {
			display: block !important
		}

		#design-from-blank-btn,
		.show_on_desktop {
			display: none !important
		}
	}

	@media only screen and (max-width:30rem) {
		.woocommerce div.product div.summary {
			float: none !important
		}
	}

	#testing-cta {
		width: calc(100% - 2.5rem);
		width: -webkit-calc(100% - 2.5rem);
		background: #e2c525;
		position: relative
	}

	#testing-cta:after {
		content: "";
		position: absolute;
		height: 0;
		width: 0;
		left: 100%;
		top: 0;
		border: 63px solid transparent;
		border: 3.9375rem solid transparent;
		border-left: 40px solid #e2c525;
		border-left: 2.5rem solid #e2c525
	}

	#testing-cta h2 {
		padding: 2% 35px 2% 15px;
		padding: 2% 2.1875rem 2% .9375rem;
		font-size: 2.625em;
		color: #fff
	}

	.AuthorizeNetSeal {
		margin: 0 auto !important
	}

	#logo-sldier {
		margin: 75px auto 0;
		margin: 4.6875rem auto 0;
		max-width: 100%;
		width: 1050px;
		width: 65.625rem
	}

	.gs_logo_single img {
		max-width: 125px;
		max-width: 7.8125rem;
		max-height: 125px;
		max-height: 7.8125rem
	}

	.page-template-page-onboarding {
		background: #eee
	}

	section#secondary.onboarding {
		height: auto
	}

	.onboarding-step-identification {
		margin-top: 75px;
		margin-top: 4.6875rem
	}

	.onboarding-step-identification .centerer {
		display: inline-block
	}

	.onboarding-step-identification p {
		color: #000 !important;
		float: left;
		font-weight: 700 !important;
		margin: 0 12px 0 0 !important;
		margin: 0 .75rem 0 0 !important
	}

	.onboarding-step-identification .dot-container {
		float: left;
		padding-top: 2px;
		padding-top: .125rem
	}

	.onboarding-step-identification .step-dot {
		background: #fff;
		border-radius: 50%;
		border: 1px solid #000;
		border: .0625rem solid #000;
		float: left;
		height: 14px;
		height: .875rem;
		margin: 0 10px 0 0;
		margin: 0 .625rem 0 0;
		position: relative;
		width: 14px;
		width: .875rem
	}

	.onboarding-step-identification .step-dot:after {
		border-bottom: 1px solid #000;
		border-bottom: .0625rem solid #000;
		content: "";
		display: block;
		height: 7px;
		height: .4375rem;
		position: absolute;
		right: -12px;
		right: -.75rem;
		top: 0;
		width: 12px;
		width: .75rem
	}

	.onboarding-step-identification .step-dot:nth-last-child(2):after {
		display: none
	}

	.onboarding-step-identification .step-dot.current-step {
		background-color: #0c99ae;
		width: 14px;
		width: .875rem;
		height: 14px;
		height: .875rem
	}

	.onboarding-step-identification a .step-dot {
		background-color: #eee
	}

	section#secondary .wrap.onboarding {
		margin: 35px auto 100px;
		margin: 2.1875rem auto 6.25rem
	}

	.wrap.onboarding-bg #fullwidth {
		margin-top: -50px;
		margin-top: -3.125rem
	}

	#onboarding-step-one,
	#onboarding-step-two,
	#onboarding-step-three ul.filter-products {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 40px;
	}

	#onboarding-step-one .one-third {
		background: #fff;
		margin: 0 1%;
		padding: 0 0 50px;
		padding: 0 0 3.125rem;
		text-align: center;
		width: 31.33%
	}

	#onboarding-step-one .one-third img {
		width: 100%
	}

	#onboarding-step-one .one-third h3 {
		font-size: .875em;
		font-weight: 700;
		text-transform: uppercase;
		color: #444648;
		text-align: center
	}

	#onboarding-step-two .one-sixth {
		margin: 0 1%;
		padding: 0 0 50px;
		padding: 0 0 3.125rem;
		text-align: center;
		width: 14.66%
	}

	#onboarding-step-two .one-sixth a {
		color: #000;
		text-decoration: none
	}

	#onboarding-step-two .one-sixth h3 {
		font-size: 18px;
		font-family: Muli Bold, sans-serif;
	}

	#onboarding-step-two .one-sixth .option-img {
		width: 140px;
		width: 8.75rem;
		height: 140px;
		height: 8.75rem;
		margin: 0 auto;
		background-position: 50%;
		background-size: 3.125rem;
		background-repeat: no-repeat;
		background-color: #fff;
		border: 1px solid #919299;
		border: .0625rem solid #919299;
		transition: all .2s ease-in-out
	}

	#onboarding-step-two .one-sixth:hover .option-img {
		-webkit-transform: scale(1.15);
		transform: scale(1.15)
	}

	#onboarding-step-three ul.filter-products {
		list-style: none;
		margin: 0;
		padding: 0
	}

	#onboarding-step-three ul.filter-products li.one-fourth {
		margin: 0 1%;
		padding: 0 0 20px;
		text-align: center;
		width: 23%
	}

	#onboarding-step-three ul.filter-products li.one-fourth img {
		border: 1px solid #a2a2a2;
		border: .0625rem solid #a2a2a2;
		transition: all .2s ease-in-out
	}

	#onboarding-step-three ul.filter-products li.one-fourth img:hover {
		-webkit-transform: scale(1.15);
		transform: scale(1.15)
	}

	#onboarding-step-three ul.filter-products li.one-fourth a {
		text-decoration: none
	}

	#onboarding-step-three ul.filter-products li.one-fourth h3 {
		font-size: .875em;
		font-weight: 700;
		text-transform: uppercase;
		color: #444648;
		font-family: Muli Bold, sans-serif;
	}

	#onboarding-step-three ul.filter-products li.one-fourth span {
		color: #164c70;
		font-size: 24px;
	}

	.woocommerce .intro h2.show_on_desktop {
		margin: 4px 0 14px;
		margin: .25rem 0 .875rem;
		font-size: 30px;
		font-size: 1.875rem;
		color: #0c99ae !important
	}

	.woocommerce .intro h1.show_on_desktop {
		color: #000 !important
	}

	@media only screen and (max-width:50rem) {
		#onboarding-step-one .one-third {
			width: 98%;
			margin-bottom: 1.5rem
		}

		#onboarding-step-one .one-third a {
			max-width: 90%;
			margin: 0 5%
		}

		#onboarding-step-two .one-sixth {
			width: 31.33%;
			padding: 0;
			margin-bottom: .875rem
		}
	}

	@media only screen and (max-width:43.75rem) {

		#onboarding-step-three ul.filter-products li.one-fourth,
		#onboarding-step-two .one-sixth {
			width: 48%
		}
	}

	.browsenoshow {
		opacity: 0 !important;
	}

	.browsenodisplay {
		display: none !important;
	}

	.flex-container {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}

	.sock-month-step {
		border-bottom: 2px solid #979797;
		border-bottom: .125rem solid #979797;
		padding: 120px 0 77px 0;
	}

	.sock-month-step .one-half {
		width: 50%;
		padding: 0 16px;
		padding: 0 1rem;
		position: relative
	}

	.sock-month-step .one-half.contents {
		color: #004c73;
		font-size: 20px;
		font-size: 1.25rem;
		font-weight: 300
	}

	.sock-month-step .one-half.contents .step-number {
		background-color: #009bb0;
		border-radius: 50%;
		width: 75px;
		width: 4.6875rem;
		height: 75px;
		height: 4.6875rem;
		text-align: center;
		color: #fff;
		margin: 0 auto 24px;
		margin: 0 auto 1.5rem;
		padding: 24px 0;
		padding: 1.5rem 0;
		line-height: 1;
	}

	.sock-month-step .one-half.contents .step-number:before {
		margin-left: -110px;
		margin-left: -6.875rem
	}

	.sock-month-step .one-half.contents .step-number:after,
	.sock-month-step .one-half.contents .step-number:before {
		background-image: url(/wp-content/themes/customsockshop/images/sock-month-step.png);
		content: "";
		display: block;
		height: 9px;
		height: .5625rem;
		position: absolute;
		top: 34px;
		top: 2.125rem;
		width: 97px;
		width: 6.0625rem;
		background-repeat: no-repeat
	}

	.sock-month-step .one-half.contents .step-number:after {
		margin-left: 87px;
		margin-left: 5.4375rem
	}

	.sock-month-step .one-half.contents .step-number span {
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		font-size: .875rem
	}

	.sock-month-step .one-half.image img {
		position: absolute;
		bottom: -77px;
		bottom: -4.8125rem;
		left: 0;
		right: 0
	}

	.sock-month-step:nth-child(odd) {
		background-color: #eee
	}

	.sock-month-step:nth-child(odd) .one-half.image {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2
	}

	.sock-month-step:nth-child(odd) .one-half.image img {
		left: auto
	}

	.sock-month-final {
		background-size: cover;
		background-position: 50%;
		position: relative;
		padding: 150px 0;
		padding: 9.375rem 0
	}

	.sock-month-final:after {
		background-color: rgba(52, 52, 51, .51);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: ""
	}

	.sock-month-final h2 {
		text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
		text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
		color: #fff;
		font-size: 50px;
		font-size: 3.125rem;
		text-align: center;
		width: 100%;
		position: relative;
		z-index: 2
	}

	.previous-months.wrap {
		padding: 50px 0;
		padding: 3.125rem 0
	}

	.previous-months h2 {
		text-align: center;
		font-size: 36px;
		font-size: 2.25rem;
		color: #7f7f87
	}

	.previous-months .past-sock {
		min-height: 150px;
		min-height: 9.375rem;
		width: 31.33%;
		margin: 0 1% 25px;
		margin: 0 1% 1.5625rem;
		position: relative;
	}

	.previous-months .past-sock .sock {
		background-size: cover;
		background-position: 50%;
		width: 100%;
		height: 100%;
		transition: all .25s ease-in-out
	}

	.previous-months .past-sock:hover .sock {
		-webkit-transform: scale(1.15);
		transform: scale(1.15)
	}

	@media only screen and (max-width:50rem) {
		.sock-month-step .one-half {
			width: 100%
		}

		.sock-month-step .one-half.image {
			text-align: center;
			-webkit-box-ordinal-group: 3;
			-ms-flex-order: 2;
			order: 2
		}

		.sock-month-step .one-half.image img {
			position: relative;
			top: auto;
			bottom: -5.0625rem;
			left: auto;
			right: auto;
			margin: 0 auto
		}

		.previous-months .past-sock {
			width: 48%
		}
	}

	@media only screen and (max-width:43.75rem) {
		.sock-month-step .one-half.contents {
			font-size: 1rem
		}

		.previous-months .past-sock {
			width: 100%;
			margin: 0 auto 1.5625rem
		}
	}

	html {
		font-size: 16px;
		font-size: 1rem;
		-webkit-font-smoothing: antialiased;
		overflow-x: hidden
	}

	body {
		margin: 0;
		padding: 129px 0 0 0;
		color: #3a3b40;
		background: #fff;
	}

	@media (max-width:500px) {
		body {
			padding: 112px 0 0 0;
		}
	}

	@media (max-width:48rem) {
		body {
			overflow-x: hidden !important
		}
	}

	.wrap {
		width: 96%;
		max-width: 1060px;
		max-width: 66.25rem;
		padding: 0 2%;
		margin: 0 auto;
		position: relative;
		clear: both
	}

	img {
		max-width: 100%;
		height: auto
	}

	a {
		text-decoration: none;
		transition: color .4s ease-in-out
	}

	*,
	:after,
	:before {
		box-sizing: border-box
	}

	input[type=submit] {
		font-size: .8125em;
		text-transform: uppercase;
		background: #fff;
		border: 1px solid #164c70;
		border: .0625rem solid #164c70;
		color: #164c70;
		padding: 15px 25px;
		padding: .9375rem 1.5625rem;
		font-weight: 600;
		display: inline-block;
		position: relative;
		cursor: pointer !important;
		box-shadow: .3125rem .3125rem 0 #164c70;
		transition: all .4s ease-in-out
	}

	input[type=submit]:hover {
		transition: -webkit-transform .15s linear;
		transition: transform .15s linear;
		transition: transform .15s linear, -webkit-transform .15s linear;
		background: #2971a1;
		color: #fff
	}

	input[type=submit]:active {
		position: relative;
		top: 1px;
		top: .0625rem
	}

	a.viewbtn {
		font-size: .8125em;
		text-transform: uppercase;
		background: #0c99ae;
		color: #fff;
		padding: 15px 25px;
		padding: .9375rem 1.5625rem;
		margin: 2% 0 3%;
		font-weight: 600;
		display: inline-block;
		position: relative;
		cursor: pointer;
		transition: all .4s ease-in-out
	}

	a.viewbtn:hover {
		background: #0d7585
	}

	a.viewbtn:active {
		top: 1px;
		top: .0625rem;
		position: relative
	}

	a.social {
		font-size: 3em;
		width: 34px;
		height: 34px;
		background-color: #fff;
		border-radius: 100%;
		margin: 0 10px 0 0;
		padding: 0;
		text-align: center;
		display: inline-block;
		text-transform: none;
		z-index: 0
	}

	a.social:hover,
	a.social:focus {
		background-color: #0c99ae;
	}

	a.social.fb {
		font-family: Socialico;
		text-indent: -9999em;
		position: relative;
		color: #fff;
	}

	a.social.fb:before {
		content: "";
		background-image: url(../images/facebook.svg);
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-indent: 0;
		z-index: 100;
	}

	a.social.fb:hover {
		color: #0c99ae
	}

	a.social.linkedin {
		font-family: Socialico;
		text-indent: -9999em;
		position: relative
	}

	a.social.linkedin:before {
		content: "";
		background-image: url(../images/linkedin.svg);
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-indent: 0;
		z-index: 100;
	}

	a.social.instagram {
		font-family: Socialico;
		text-indent: -9999em;
		position: relative
	}

	a.social.instagram:before {
		content: "";
		background-image: url(../images/instagram.svg);
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-indent: 0;
		z-index: 100;
	}

	a.social.instagram:hover {
		color: #0c99ae
	}

	a.social.pinterest {
		font-family: Socialico;
		text-indent: -9999em;
		position: relative
	}

	a.social.pinterest:before {
		content: "";
		background-image: url(../images/pinterest.svg);
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-indent: 0;
		z-index: 100;
	}

	a.social.pinterest:hover {
		color: #0c99ae
	}

	.hide-text,
	.mean-container .mean-nav ul li.menu-item-search input[type=submit],
	.mean-container .mean-nav ul li a.mean-expand,
	.trustpilot .trustpilotlogo,
	aside#sidebar .trustpilot .trustpilotlogo {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden
	}

	#bundles-page,
	#respond,
	#wooproducts,
	.block,
	.collapseomatic_content,
	.postlinks,
	.team .member,
	.team .member figure,
	.woocommerce .backcontainer,
	.woocommerce .intro,
	.woocommerce .sockspecs,
	.woocommerce .sockspecs .section,
	.woocommerce .specheading,
	.woocommerce .variations_button,
	article.post,
	body.postid-4631 .box,
	footer[role=contentinfo],
	footer[role=contentinfo] #footerbottom,
	footer[role=contentinfo] #footertop,
	footer[role=contentinfo] #footertop .col form,
	section#athleticcat,
	section#athleticcat ul#subcategories,
	section#customcat,
	section#customcat ul#subcategories,
	section#fullwidth.searchresults article,
	section#headerimg,
	section#headerimg .headingcontainer,
	section#journey,
	section#related,
	section#secondary,
	section#slider,
	section#steps article,
	section#steps article .stepcontainer .stepbox,
	span.collapseomatic {
		width: 100%;
		display: block;
		float: left;
		clear: both
	}

	.cart-mobile ul#cart-slidedown,
	.list,
	.team,
	footer[role=contentinfo] #footertop .col ul,
	section#athleticcat ul#subcategories,
	section#customcat ul#subcategories {
		margin: 0;
		padding: 0;
		list-style-type: none
	}

	.gform_wrapper .gform_footer,
	.reset,
	.team .member .right h3,
	.team .member figure,
	.trustpilot h3,
	.woocommerce .sockspecs h2.addon-name,
	.woocommerce .sockspecs h3.addon-name,
	aside#sidebar .trustpilot h3,
	aside#sidebar form #field_2_6 p,
	header[role=banner] .menureveal .heading h2,
	section#fullwidth.searchresults h3,
	section#headerimg h1,
	section#journey h2,
	section#secondary h1,
	section#secondary h2,
	section#secondary h3,
	section#secondary h4,
	section#secondary h5,
	section#secondary h6,
	section#secondary p {
		margin: 0;
		padding: 0
	}

	.valign,
	header[role=banner] .menureveal .heading h2,
	section#secondary .pageicon img {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%)
	}

	img.alignright {
		float: right;
		margin: 0 0 1em 1em
	}

	img.alignleft {
		float: left;
		margin: 0 1em 1em 0
	}

	img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.alignright {
		float: right
	}

	.alignleft {
		float: left
	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.wp-caption {
		margin-bottom: 25px;
		margin-bottom: 1.5625rem
	}

	html #wpadminbar {
		position: fixed
	}

	.logged-in header[role=banner] {
		top: 32px;
		top: 2rem
	}

	@media (max-width:48.875rem) {
		.logged-in header[role=banner] {
			top: 2.875rem
		}
	}

	header[role=banner] {
		height: auto;
		position: fixed;
		z-index: 1000;
		border-bottom: 1px solid #eee;
		border-bottom: .0625rem solid #eee;
		background: #fff;
		background: hsla(0, 0%, 100%, .95)
	}

	@media (max-width:48rem) {
		header[role=banner] {
			height: 6.875rem
		}
	}

	@media (max-width:48rem) {
		.cart-mobile {
			display: block
		}
	}

	.cart-mobile #cartmenu {
		width: 78px;
		width: 4.875rem;
		height: 78px;
		height: 4.875rem;
		padding: 0;
		margin: 0;
		position: absolute;
		background: #eee;
		top: 0;
		right: 0;
		cursor: pointer;
		text-decoration: none;
		display: block;
		text-align: center;
		transition: all .4s ease-in-out
	}

	.cart-mobile #cartmenu.clicked,
	.cart-mobile #cartmenu:hover {
		background: #d6d6d6
	}

	.cart-mobile #cartmenu .menulabel {
		font-size: .625em;
		text-align: center;
		color: #7b4799;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		width: 100%;
		z-index: 10000;
		overflow: visible;
		text-indent: none;
		margin-top: 15px;
		margin-top: .9375rem
	}

	.cart-mobile #cartmenu .menulabel:before {
		content: "";
		width: 30px;
		width: 1.875rem;
		height: 30px;
		height: 1.875rem;
		display: block;
		margin: 0 auto 5px;
		margin: 0 auto .3125rem;
		background: url(../images/ico-cart-mobile.png) no-repeat 0 0
	}

	.cart-mobile ul#cart-slidedown {
		display: none;
		position: absolute;
		top: 78px;
		top: 4.875rem;
		left: 0;
		width: 100%;
		background: #ececec
	}

	.cart-mobile ul#cart-slidedown li {
		padding: 20px 15px;
		padding: 1.25rem .9375rem;
		text-align: center;
		font-size: .9375em;
		color: #fff
	}

	.cart-mobile ul#cart-slidedown li.account {
		background: #7b4799
	}

	.cart-mobile ul#cart-slidedown li.account a {
		text-transform: uppercase;
		color: #e2c525
	}

	.cart-mobile ul#cart-slidedown li.shoppingcart a {
		text-transform: uppercase;
		color: #919299
	}

	a.meanmenu-reveal {
		display: none
	}

	.mean-container .mean-bar {
		float: left;
		width: 100%;
		z-index: 999;
		margin: 0;
		top: 0
	}

	.mean-container a.meanmenu-reveal {
		width: 78px;
		width: 4.875rem;
		height: 78px;
		height: 4.875rem;
		padding: 0;
		margin: 0;
		position: relative;
		background: #eee;
		top: 0;
		float: left;
		cursor: pointer;
		text-decoration: none;
		display: block;
		text-align: center;
		transition: all .4s ease-in-out
	}

	.mean-container a.meanmenu-reveal.meanclose {
		background-color: #d6d6d6
	}

	.mean-container a.meanmenu-reveal.meanclose .menubtn .menulabel:before {
		content: "";
		width: 29px;
		width: 1.8125rem;
		height: 30px;
		height: 1.875rem;
		display: block;
		margin: 0 auto 5px;
		margin: 0 auto .3125rem;
		background: url(../images/ico-menu.png) no-repeat 0 0
	}

	.mean-container a.meanmenu-reveal:hover {
		background-color: #d6d6d6
	}

	.mean-container a.meanmenu-reveal .menubtn {
		width: 100%;
		position: relative;
		margin: 0;
		float: none;
		display: block
	}

	.mean-container a.meanmenu-reveal .menubtn .menulabel {
		font-size: .625em;
		text-align: center;
		color: #7b4799;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		width: 100%;
		z-index: 10000;
		overflow: visible;
		text-indent: none;
		margin-top: 15px;
		margin-top: .9375rem
	}

	.mean-container a.meanmenu-reveal .menubtn .menulabel:before {
		content: "";
		width: 29px;
		width: 1.8125rem;
		height: 30px;
		height: 1.875rem;
		display: block;
		margin: 0 auto 5px;
		margin: 0 auto .3125rem;
		background: url(../images/ico-menu.png) no-repeat 0 0
	}

	.mean-container a.meanmenu-reveal .menubtn span {
		display: block;
		height: 2px;
		height: .125rem;
		margin: 5px 0;
		margin: .3125rem 0;
		width: 30px;
		width: 1.875rem;
		position: relative;
		top: 30px;
		top: 1.875rem;
		right: -85px;
		right: -5.3125rem;
		display: none
	}

	.mean-container .mean-nav {
		float: left;
		width: 100%;
		background: #eaeaea;
		margin-top: 0;
		overflow-y: scroll !important;
		max-height: 420px;
		max-height: 26.25rem;
		box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3)
	}

	.mean-container .mean-nav ul {
		padding: 0;
		margin: 0;
		width: 100%;
		list-style-type: none;
		font-weight: 400;
		overflow-y: scroll
	}

	.mean-container .mean-nav ul li {
		position: relative;
		float: left;
		width: 100%;
		background: #ececec;
		transition: all .4s ease-in-out
	}

	.mean-container .mean-nav ul li.shop a {
		background: #164c70;
		color: #e2c525;
		transition: all .4s ease-in-out
	}

	.mean-container .mean-nav ul li.shop:hover {
		background-color: #2971a1
	}

	.mean-container .mean-nav ul li.shop ul.sub-menu li a {
		background: #0c99ae;
		color: #fff
	}

	.mean-container .mean-nav ul li.menu-item-search {
		float: left;
		width: 100%;
		border-top: 1px solid #6d7480;
		border-top: .0625rem solid #6d7480;
		height: 59px;
		height: 3.6875rem
	}

	.mean-container .mean-nav ul li.menu-item-search input[type=search] {
		background: transparent;
		border: none;
		padding: 0 15px;
		padding: 0 .9375rem;
		height: 59px;
		height: 3.6875rem;
		width: 70%;
		width: calc(100% - 5rem);
		float: left;
		font-size: 16px;
		font-size: 1rem
	}

	.mean-container .mean-nav ul li.menu-item-search input[type=submit] {
		width: 50px;
		width: 3.125rem;
		height: 55px;
		height: 3.4375rem;
		padding: 0 !important;
		margin: 0 !important;
		box-shadow: none;
		float: right;
		border: none;
		cursor: pointer;
		background: url(../images/ico-search.png) no-repeat 50%
	}

	.mean-container .mean-nav ul li.menu-item-search input[type=submit]:hover {
		background: url(../images/ico-searchhover.png) no-repeat 50%
	}

	.mean-container .mean-nav ul li.menu-item-search::-webkit-input-placeholder {
		font-size: 1em;
		color: #919299
	}

	.mean-container .mean-nav ul li.menu-item-search:-moz-placeholder,
	.mean-container .mean-nav ul li.menu-item-search::-moz-placeholder {
		font-size: 1em;
		color: #919299
	}

	.mean-container .mean-nav ul li.menu-item-search:-ms-input-placeholder {
		font-size: 1em;
		color: #919299
	}

	.mean-container .mean-nav ul li a {
		display: block;
		float: left;
		width: 90%;
		padding: 1.4em 5%;
		margin: 0;
		text-align: center;
		color: #919299;
		text-transform: uppercase;
		font-size: .875em;
		font-weight: 400;
		border-top: 1px solid #6d7480;
		border-top: .0625rem solid #6d7480;
		text-decoration: none
	}

	.mean-container .mean-nav ul li li a {
		width: 80%;
		padding: 1.2em 10%;
		border-top: 1px solid #dadbda;
		border-top: .0625rem solid #dadbda;
		opacity: .75;
		filter: alpha(opacity=75);
		text-shadow: none !important;
		visibility: visible
	}

	.mean-container .mean-nav ul li.mean-last a {
		border-bottom: none;
		margin-bottom: 0
	}

	.mean-container .mean-nav ul li li li a {
		width: 70%;
		padding: 1.2em 15%
	}

	.mean-container .mean-nav ul li li li li a {
		width: 60%;
		padding: 1.2em 20%
	}

	.mean-container .mean-nav ul li li li li li a {
		width: 50%;
		padding: 1.2em 25%
	}

	.mean-container .mean-nav ul li a:hover {
		background: #252525;
		background: rgba(0, 0, 0, .05)
	}

	.mean-container .mean-nav ul li a.mean-expand {
		margin-top: 8px;
		margin-top: .5rem;
		width: 18px;
		width: 1.125rem;
		height: 18px;
		height: 1.125rem;
		padding: 12px !important;
		padding: .75rem !important;
		text-align: center;
		position: absolute;
		right: 8px;
		right: .5rem;
		top: 0;
		z-index: 2;
		border: none !important;
		background: #0c99ae url(../images/nav-arrow.png) no-repeat center 17px;
		transition: all .4s ease-in-out;
		border-radius: 100%
	}

	.mean-container .mean-nav ul li a.mean-expand.mean-clicked {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}

	.mean-container .mean-push {
		float: left;
		clear: both
	}

	.mean-container .mean-push,
	.mean-nav .wrapper {
		width: 100%;
		padding: 0;
		margin: 0
	}

	.mean-container .mean-bar,
	.mean-container .mean-bar * {
		box-sizing: content-box
	}

	.mean-remove {
		display: none !important
	}

	.show-menu {
		display: block !important;
		background: #3a3b40;
		background: rgba(51, 52, 63, .95);
		opacity: 1
	}

	section#slider,
	section#slider .flexslider {
		height: 585px;
		height: 36.5625rem;
		position: relative
	}

	section#slider .flexslider {
		overflow-y: hidden;
		text-align: left;
		z-index: 0
	}

	section#slider .flexslider ul li {
		height: 585px;
		height: 36.5625rem
	}

	section#slider .flexslider .slidecontent {
		padding-top: 200px;
		padding-top: 12.5rem;
		text-align: center
	}

	@media (max-width:48rem) {
		section#slider .flexslider .slidecontent {
			padding-top: 7.5rem
		}
	}

	section#slider .flexslider h2 {
		font-size: 2.625em;
		display: block;
		padding: 35px 15px;
		padding: 2.1875rem .9375rem;
		color: #fff;
		border: 1px solid #fff;
		border: .0625rem solid #fff;
		background: transparent;
		background: rgba(0, 0, 0, .45);
		position: relative
	}

	@media (max-width:30rem) {
		section#slider .flexslider h2 {
			font-size: 2.25em
		}
	}

	section#slider .flexslider h2:before {
		content: "";
		width: 41px;
		width: 2.5625rem;
		height: 41px;
		height: 2.5625rem;
		display: block;
		background: url(../images/ico-heading.png) no-repeat 0 0;
		position: absolute;
		top: -20px;
		top: -1.25rem;
		left: 50%;
		margin-left: -20px;
		margin-left: -1.25rem
	}

	section#slider .flexslider .flex-direction-nav {
		display: none
	}

	.postlinks {
		background: #eaeaea;
		padding: 1% 0
	}

	.postlinks a {
		color: #164c70
	}

	.postlinks .next-posts {
		float: left
	}

	.postlinks .pre-posts {
		float: right
	}

	#respond h2 {
		color: #164c70
	}

	#respond input[type=email],
	#respond input[type=text],
	#respond textarea {
		padding: 8px;
		padding: .5rem;
		width: 80% !important;
		background: #eee;
		border: 1px solid #919299 !important;
		border: .0625rem solid #919299 !important;
		float: left;
		border: none;
		margin-bottom: 15px;
		margin-bottom: .9375rem;
		position: relative;
		font-size: 1em
	}

	@media (max-width:30rem) {

		#respond input[type=email],
		#respond input[type=text],
		#respond textarea {
			font-size: 1em
		}
	}

	#respond textarea {
		width: 100%
	}

	section#journey {
		background: #e2c525 url(../images/feet.png) no-repeat 20% 0;
		padding: 5% 0;
		text-align: center
	}

	section#journey h2 {
		margin: 2% 0;
		color: #fff;
		font-size: 2.625em
	}

	@media (max-width:30rem) {
		section#journey h2 {
			font-size: 2em
		}
	}

	section#journey p {
		font-size: .875em;
		color: #fff;
		margin-bottom: 5%
	}

	section#fullwidth {
		width: 100%;
		float: left
	}

	section#fullwidth.searchresults article {
		padding: 4% 0;
		border-bottom: 1px solid #919299;
		border-bottom: .0625rem solid #919299
	}

	section#fullwidth.searchresults article:nth-child(odd) {
		background: #eee
	}

	section#fullwidth.searchresults article:nth-child(2n) {
		background: #fff
	}

	section#fullwidth.searchresults h3 {
		color: #164c70;
		font-size: 2em
	}

	section#left {
		width: 70%;
		float: left;
		margin-top: 25px;
		margin-top: 1.5625rem
	}

	@media (max-width:48rem) {
		section#left {
			width: 100%;
			float: left;
			clear: both;
			display: block
		}
	}

	section#left img.bundles {
		margin-top: -100px;
		margin-top: -6.25rem
	}

	@media (max-width:48rem) {
		section#left img.bundles {
			margin-top: 0
		}
	}

	.logos div {
		display: inline-block;
		width: auto;
		float: left;
		height: 130px;
		height: 8.125rem;
		text-align: center;
		margin: 0 4% 2.5% 0;
		padding: 0 10px;
		padding: 0 .625rem;
		position: relative
	}

	.logos img {
		display: block;
		width: auto;
		max-height: 60px;
		max-height: 3.75rem
	}

	.logos span {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 10px;
		bottom: .625rem;
		text-align: center;
	}

	article.post {
		padding: 0;
	}

	article.post ol,
	article.post p,
	article.post ul {
		line-height: 1.5;
		color: #3a3b40
	}

	article.post a {
		color: #7b4799;
		text-decoration: underline
	}

	@media (max-width:30rem) {
		article.post img {
			margin: 0 0 .9375rem;
			padding: 0;
			width: 100%;
			float: left;
			clear: both;
			display: block
		}
	}

	.team {
		margin-top: 4%
	}

	.team .member {
		margin-bottom: 15px;
		margin-bottom: .9375rem;
		border-bottom: 1px solid #919299;
		border-bottom: .0625rem solid #919299;
		padding-bottom: 15px;
		padding-bottom: .9375rem
	}

	.team .member figure {
		position: relative
	}

	.team .member figure img {
		position: relative;
		z-index: 100;
		border-radius: .1875rem
	}

	.team .member .left {
		float: left;
		width: 22%
	}

	@media (max-width:30rem) {
		.team .member .left {
			width: 100%;
			float: left;
			clear: both;
			display: block;
			text-align: center
		}
	}

	.team .member .right {
		float: right;
		width: 75%
	}

	@media (max-width:30rem) {
		.team .member .right {
			width: 80%;
			margin: 0 10%;
			float: left;
			clear: both;
			display: block;
			text-align: center
		}
	}

	.team .member .right h3 {
		text-transform: uppercase;
		letter-spacing: .05em
	}

	.team .member .right p {
		font-size: .875em
	}

	aside#sidebar {
		width: 28%;
		float: right;
		margin-top: 40px;
		margin-top: 2.5rem
	}

	@media (max-width:48rem) {
		aside#sidebar {
			width: 100%;
			float: left;
			clear: both;
			display: block
		}
	}

	aside#sidebar form {
		background: #7b4799;
		padding: 15px 25px;
		padding: .9375rem 1.5625rem;
		color: #fff
	}

	aside#sidebar form h2 {
		color: #e2c525;
		text-align: center;
		padding-top: 30px;
		padding-top: 1.875rem;
		position: relative
	}

	aside#sidebar form h2:before {
		content: "";
		width: 60px;
		width: 3.75rem;
		height: 10px;
		height: .625rem;
		display: block;
		background: url(../images/stripe-purple-double.png) repeat-x 0 0;
		position: absolute;
		top: -25px;
		top: -1.5625rem;
		left: 50%;
		margin-left: -30px;
		margin-left: -1.875rem;
		margin-top: 25px;
		margin-top: 1.5625rem
	}

	aside#sidebar form h3 {
		display: block;
		text-align: center;
		position: relative;
		padding-top: 25px;
		padding-top: 1.5625rem
	}

	aside#sidebar form h3:before {
		content: "";
		width: 100%;
		height: 5px;
		height: .3125rem;
		display: block;
		background: url(../images/stripe-purple.png) repeat-x 0 0;
		position: absolute;
		top: -15px;
		top: -.9375rem;
		left: 0;
		margin-top: 25px;
		margin-top: 1.5625rem
	}

	aside#sidebar form p {
		text-align: center
	}

	aside#sidebar form div.instruction,
	aside#sidebar form label {
		display: none
	}

	aside#sidebar form input[type=email],
	aside#sidebar form input[type=number],
	aside#sidebar form input[type=phone],
	aside#sidebar form input[type=text],
	aside#sidebar form textarea {
		background-color: #fff;
		padding: 12px;
		padding: .75rem
	}

	aside#sidebar form input[type=text]#input_2_5 {
		background: #fff url(../images/ico-calendar.png) no-repeat center right 10px;
		background: #fff url(../images/ico-calendar.png) no-repeat center right .625rem
	}

	aside#sidebar form input[type=number] {
		width: 50%
	}

	aside#sidebar form .file-upload-btn {
		padding: 0;
		background: #e2c525;
		margin: 10px 0 15px;
		cursor: pointer;
		transition: all .4s ease-in-out
	}

	aside#sidebar form .file-upload-btn:hover {
		background: #cfb213
	}

	aside#sidebar form .file-upload-btn .gfield_label {
		cursor: pointer;
		text-transform: uppercase;
		padding: 10px;
		position: relative;
		z-index: 2;
		color: #fff;
		text-align: center;
		font-weight: normal;
		width: 100%;
		display: block;
	}

	aside#sidebar form .file-upload-btn .ginput_container {
		margin: 0;
		padding: 0;
		height: 0 !important
	}

	aside#sidebar form .file-upload-btn input[type=file] {
		position: relative;
		z-index: 2;
		opacity: 0;
		background: transparent;
		color: #fff
	}

	aside#sidebar form input[type=submit] {
		width: 100%
	}

	aside#sidebar .widget {
		display: block;
		margin-bottom: 25px;
		margin-bottom: 1.5625rem
	}

	aside#sidebar #text-3 h3,
	aside#sidebar #text-5 h3 {
		display: none
	}

	aside#sidebar .custom,
	aside#sidebar .rush {
		background: #7b4799;
		color: #fff;
		text-align: center;
		padding: 10px 20px;
		padding: .625rem 1.25rem
	}

	aside#sidebar .custom h3.widget-title,
	aside#sidebar .rush h3.widget-title {
		;
		font-size: 1.875em
	}

	aside#sidebar .custom .textwidget,
	aside#sidebar .rush .textwidget {
		font-size: .9375em
	}

	aside#sidebar .textwidget a.btn {
		margin: 24px auto;
	}

	aside#sidebar .rush {
		background: #164c70
	}

	aside#sidebar .trustpilot {
		background: #0c99ae url(../images/trustbg.png) no-repeat 50%;
		background-size: cover;
		color: #fff;
		text-align: center;
		padding: 25px 20px;
		padding: 1.5625rem 1.25rem;
		position: relative;
		cursor: pointer
	}

	aside#sidebar .trustpilot:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		bottom: -15px;
		bottom: -.9375rem;
		right: 25px;
		right: 1.5625rem;
		border-left: 15px solid transparent;
		border-left: .9375rem solid transparent;
		border-right: 15px solid transparent;
		border-right: .9375rem solid transparent;
		border-top: 15px solid #0c99ae;
		border-top: .9375rem solid #0c99ae
	}

	aside#sidebar .trustpilot .stars {
		width: 138px;
		width: 8.625rem;
		height: 23px;
		height: 1.4375rem;
		display: table;
		margin: 0 auto 10px;
		margin: 0 auto .625rem;
		background: url(../images/five-stars.png) no-repeat 0 0
	}

	aside#sidebar .trustpilot .trustpilotlogo {
		width: 105px;
		width: 6.5625rem;
		height: 15px;
		height: .9375rem;
		margin: 15px auto 0;
		margin: .9375rem auto 0;
		display: inline-block;
		background: url(../images/ico-trust.png) no-repeat 0 0
	}

	aside#sidebar .trustpilot h3 {
		text-transform: uppercase;
		font-size: .875em;
		margin-bottom: 10px;
		margin-bottom: .625rem
	}

	aside#sidebar .trustpilot .textwidget {
		font-size: .9375em;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
		text-shadow: 0 .0625rem .0625rem rgba(0, 0, 0, .5);
		width: 60%;
		margin: 0 20%;
		text-align: center
	}

	section#steps article {
		padding: 5% 0 0;
		border-bottom: 1px solid #919299;
		border-bottom: .0625rem solid #919299
	}

	section#steps article h3,
	section#steps article p {
		color: #164c70;
		font-size: 22px;
		font-family: Muli Bold, sans-serif;
	}

	section#steps article .stepcontainer {
		float: left;
		width: 48%;
		text-align: center
	}

	@media (max-width:48rem) {
		section#steps article .stepcontainer {
			width: 100%;
			float: left;
			clear: both
		}
	}

	section#steps article .stepcontainer .stepbox {
		height: 70px;
		height: 4.375rem;
		background: url(../images/stripe-med.png) repeat-x 50%;
		margin-bottom: 15px;
		margin-bottom: .9375rem
	}

	section#steps article .stepcontainer .step {
		background: #0c99ae;
		color: #fff;
		text-transform: uppercase;
		font-size: 30px;
		font-size: 1.875rem;
		width: 70px;
		width: 4.375rem;
		height: 70px;
		height: 4.375rem;
		margin: 0 auto 25px;
		margin: 0 auto 1.5625rem;
		text-align: center;
		padding-top: 14px;
		padding-top: .875rem;
		border-radius: 100%;
		position: relative
	}

	section#steps article .stepcontainer .step:after,
	section#steps article .stepcontainer .step:before {
		content: "";
		width: 15px;
		width: .9375rem;
		height: 70px;
		height: 4.375rem;
		display: block;
		position: absolute;
		top: 0;
		background: #eee
	}

	section#steps article .stepcontainer .step:before {
		left: -15px;
		left: -.9375rem
	}

	section#steps article .stepcontainer .step:after {
		right: -15px;
		right: -.9375rem
	}

	section#steps article .stepcontainer .step span {
		font-size: 13px;
		font-size: .8125rem;
		font-weight: 300;
		display: block;
		margin: 0 0 -5px;
		margin: 0 0 -.3125rem
	}

	section#steps article img {
		width: 48%;
		float: right;
		position: relative;
		bottom: -1px;
		bottom: -.0625rem
	}

	@media (max-width:48rem) {
		section#steps article img {
			width: 100%;
			float: left;
			clear: both
		}
	}

	section#steps article:nth-child(odd) {
		background: #eee
	}

	section#steps article:nth-child(2n) {
		background: #fff
	}

	section#steps article:nth-child(2n) img {
		float: left
	}

	@media (max-width:48rem) {
		section#steps article:nth-child(2n) img {
			width: 100%;
			float: left;
			clear: both
		}
	}

	section#steps article:nth-child(2n) .stepcontainer {
		float: right
	}

	@media (max-width:48rem) {
		section#steps article:nth-child(2n) .stepcontainer {
			width: 100%;
			float: left;
			clear: both
		}
	}

	section#steps article:nth-child(2n) .stepcontainer .step:after,
	section#steps article:nth-child(2n) .stepcontainer .step:before {
		background: #fff
	}

	.trustpilot {
		background: #0c99ae url(../images/trustbg.png) no-repeat 50%;
		background-size: cover;
		color: #fff;
		text-align: center;
		padding: 25px 20px;
		padding: 1.5625rem 1.25rem;
		position: relative;
		cursor: pointer
	}

	.trustpilot:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		bottom: -15px;
		bottom: -.9375rem;
		right: 25px;
		right: 1.5625rem;
		border-left: 15px solid transparent;
		border-left: .9375rem solid transparent;
		border-right: 15px solid transparent;
		border-right: .9375rem solid transparent;
		border-top: 15px solid #0c99ae;
		border-top: .9375rem solid #0c99ae
	}

	.trustpilot .stars {
		width: 138px;
		width: 8.625rem;
		height: 23px;
		height: 1.4375rem;
		display: table;
		margin: 0 auto 10px;
		margin: 0 auto .625rem;
		background: url(../images/five-stars.png) no-repeat 0 0
	}

	.trustpilot .trustpilotlogo {
		width: 105px;
		width: 6.5625rem;
		height: 15px;
		height: .9375rem;
		clear: both;
		margin: 15px auto 0;
		margin: .9375rem auto 0;
		display: block;
		background: url(../images/ico-trust.png) no-repeat 0 0
	}

	.trustpilot h3 {
		text-transform: uppercase;
		font-size: .875em !important;
		margin-bottom: 10px;
		margin-bottom: .625rem;
		color: #fff !important
	}

	.trustpilot .textwidget {
		font-size: .9375em;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
		text-shadow: 0 .0625rem .0625rem rgba(0, 0, 0, .5);
		width: 60%;
		margin: 0 20%;
		text-align: center
	}

	span.collapseomatic {
		color: #fff;
		padding: 15px 55px 15px 15px;
		padding: .9375rem 3.4375rem .9375rem .9375rem;
		margin-bottom: 8px;
		margin-bottom: .5rem;
		background: #0c99ae;
		border: 1px solid #d1d1d1;
		border: .0625rem solid #d1d1d1;
		transition: all .4s ease-in-out;
		position: relative;
		font-size: 1.125em
	}

	span.collapseomatic:first-child {
		margin-top: 25px;
		margin-top: 1.5625rem
	}

	span.collapseomatic:last-child {
		margin-bottom: 25px;
		margin-bottom: 1.5625rem
	}

	span.collapseomatic:after {
		content: "";
		color: #fff;
		font-size: 1.875em;
		text-align: center;
		padding: 5px 0 0;
		padding: .3125rem 0 0;
		display: block;
		width: 50px;
		width: 3.125rem;
		height: 100%;
		background: url(../images/accordion-arrow.png) no-repeat 50%;
		position: absolute;
		top: 0;
		right: 0;
		transition: all .2s ease-in-out
	}

	span.collapseomatic:before {
		content: "Q:";
		color: #e2c525;
		display: inline-block;
		margin-right: 5px;
		margin-right: .3125rem;
		font-weight: 700
	}

	span.collapseomatic:hover {
		text-decoration: none;
		background: #7b4799
	}

	span.collapseomatic:focus {
		outline: none
	}

	span.collapseomatic.colomat-close {
		text-decoration: none;
		background: #7b4799
	}

	span.collapseomatic.colomat-close:after {
		content: "";
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}

	.collapseomatic_content {
		margin: 0 0 15px;
		margin: 0 0 .9375rem;
		padding: 15px 15px 35px;
		padding: .9375rem .9375rem 2.1875rem;
		line-height: 1.5;
		display: none;
	}

	.collapseomatic_content.is-active {
		display: block;
	}

	.collapseomatic_content table {
		border-right: 1px solid #ddd;
		border-right: .0625rem solid #ddd;
		border-left: 1px solid #ddd;
		border-left: .0625rem solid #ddd
	}

	.collapseomatic_content table th {
		text-align: left;
		background: #0c99ae;
		color: #fff;
		font-size: 1em;
		text-transform: uppercase;
		padding: 10px;
		padding: .625rem
	}

	.collapseomatic_content table td {
		padding: 5px 10px;
		padding: .3125rem .625rem;
		border-right: 1px solid #ddd;
		border-right: .0625rem solid #ddd;
		border-bottom: 1px solid #ddd;
		border-bottom: .0625rem solid #ddd
	}

	.collapseomatic_content table td:first-child {
		font-weight: 700
	}

	.collapseomatic_content table td strong {
		display: block
	}

	.collapseomatic_content table td:last-child {
		border-right: none
	}

	.collapseomatic_content table tr:nth-child(2n) {
		background: #eee
	}

	section#headerimg {
		height: 300px;
		overflow: hidden;
		position: relative;
		text-align: center;
		z-index: 0;
		background: url(../images/headers/rotate.php) no-repeat 0 0;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@media (max-width:64rem) {
		section#headerimg {
			height: 18.4375rem
		}
	}

	@media (max-width:30rem) {
		section#headerimg {
			height: 20.625rem
		}
	}

	section#headerimg .headingcontainer {
		position: relative;
		z-index: 1000
	}

	section#headerimg h1 {
		text-shadow: 0 2px 3px rgba(0, 0, 0, .6);
		text-shadow: 0 .125rem .1875rem rgba(0, 0, 0, .6);
		font-size: 3.75em;
		color: #fff;
		max-width: 90%;
		margin: 0 auto;
	}

	@media (max-width: 600px) {
		section#headerimg h1 {
			font-size: 48px;
		}
	}

	section#headerimg h2 {
		font-size: 2.1875em;
		color: #fff;
		line-height: 55px;
		line-height: 3.4375rem
	}

	@media (max-width:64rem) {
		section#headerimg h2 {
			font-size: 1.5em;
			line-height: normal;
			margin-top: 2.8125rem
		}
	}

	@media (max-width:33.75rem) {
		section#headerimg h2 {
			font-size: 1.125em;
			line-height: normal
		}
	}

	section#headerimg p#breadcrumbs {
		font-weight: 300;
		font-size: .8125em;
		color: #fff;
		position: relative;
		text-transform: uppercase
	}

	section#headerimg p#breadcrumbs a {
		color: #fff
	}

	section#secondary {
		height: 220px;
		height: 13.75rem;
		background: #fff;
		text-align: center;
		border-bottom: 1px solid #919299;
		border-bottom: .0625rem solid #919299;
		position: relative
	}

	@media (max-width:30rem) {
		section#secondary {
			height: 1%;
			padding-bottom: 5%
		}
	}

	section#secondary .pageicon {
		width: 86px;
		width: 5.375rem;
		height: 86px;
		height: 5.375rem;
		background: #e2c525;
		border: 5px solid #fff;
		border: .3125rem solid #fff;
		display: inline-block;
		position: absolute;
		top: -43px;
		top: -2.6875rem;
		left: 50%;
		margin-left: -43px;
		margin-left: -2.6875rem;
		border-radius: 100%
	}

	section#secondary .wrap {
		margin-top: 60px;
		margin-top: 3.75rem;
		width: 50%
	}

	@media (max-width:48rem) {
		section#secondary .wrap {
			width: 100%
		}
	}

	section#secondary .notice {
		background: #0c99ae;
		padding: 15px;
		padding: .9375rem;
		border: 3px solid #2ac1d8;
		border: .1875rem solid #2ac1d8
	}

	section#secondary .notice h1,
	section#secondary .notice h2,
	section#secondary .notice h3,
	section#secondary .notice h4,
	section#secondary .notice h5,
	section#secondary .notice h6,
	section#secondary .notice p {
		color: #fff
	}

	section#secondary .notice p {
		font-size: 1em;
		font-weight: 700
	}

	section#secondary h1,
	section#secondary h2,
	section#secondary h3,
	section#secondary h4,
	section#secondary h5,
	section#secondary h6,
	section#secondary p {
		color: #919299;
	}

	section#secondary p {
		text-transform: uppercase;
		font-weight: 300;
		font-size: .875em;
		margin: 1% 0
	}

	section#secondary h2 {
		font-size: 30px;
	}

	section#secondary h2 span {
		color: #0c99ae;
		font-weight: 700
	}

	section#athleticcat,
	section#customcat {
		background: #dad9dc
	}

	section#athleticcat ul#subcategories,
	section#customcat ul#subcategories {
		background: #c6c7c8;
		padding: 15px 10px 0;
		padding: .9375rem .625rem 0;
		text-align: center;
		border: 1px solid #444648;
		border: .0625rem solid #444648;
		border-radius: .25rem;
		margin: -58px 0 25px;
		margin: -3.625rem 0 1.5625rem
	}

	@media (max-width:48rem) {

		section#athleticcat ul#subcategories,
		section#customcat ul#subcategories {
			margin-top: -.625rem
		}
	}

	section#athleticcat ul#subcategories li,
	section#customcat ul#subcategories li {
		display: inline-block
	}

	section#athleticcat ul#subcategories li.purple a,
	section#customcat ul#subcategories li.purple a {
		background: #7b4799;
		color: #fff
	}

	section#athleticcat ul#subcategories li.purple a:hover,
	section#customcat ul#subcategories li.purple a:hover {
		background: #b175d4
	}

	section#athleticcat ul#subcategories li.request a,
	section#customcat ul#subcategories li.request a {
		background: #0c99ae;
		color: #fff
	}

	section#athleticcat ul#subcategories li.request a:hover,
	section#customcat ul#subcategories li.request a:hover {
		background: #2ac1d8
	}

	section#athleticcat ul#subcategories li.current_page_item a,
	section#customcat ul#subcategories li.current_page_item a {
		background: #444648;
		color: #fff
	}

	section#athleticcat ul#subcategories li a,
	section#customcat ul#subcategories li a {
		font-weight: 600;
		font-size: .875em;
		text-transform: uppercase;
		display: inline-block;
		color: #444648;
		margin: 0 5px 15px;
		margin: 0 .3125rem .9375rem;
		background: #fff;
		padding: 8px 20px;
		padding: .5rem 1.25rem;
		border-radius: .25rem;
		transition: all .4s ease-in-out
	}

	@media (max-width:30rem) {

		section#athleticcat ul#subcategories li a,
		section#customcat ul#subcategories li a {
			font-size: .75em;
			padding: .5rem .9375rem;
			margin: 0 0 .5rem;
			width: auto
		}
	}

	section#athleticcat ul#subcategories li a:hover,
	section#customcat ul#subcategories li a:hover {
		background: #444648;
		color: #fff
	}

	div.pp_woocommerce .pp_description {
		display: none !important
	}

	#bundles-page,
	#wooproducts {
		background: #dad9dc
	}

	#bundles-page .btn,
	#wooproducts .btn {
		margin-right: 15px;
		margin-right: .9375rem
	}

	.lightbox {
		display: none;
		position: fixed;
		z-index: 999;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .8)
	}

	.lightbox img {
		max-width: 90%;
		max-height: 80%;
		margin-top: 2%
	}

	.lightbox:target {
		outline: none;
		display: block
	}

	.woocommerce ul.order_details {
		display: inline-block;
		float: left;
		width: 100%;
		background: #0c99ae;
		color: #fff;
		padding: 15px;
		padding: .9375rem;
		text-align: center
	}

	.woocommerce ul.order_details li {
		display: inline-block;
		float: none
	}

	.woocommerce a.bundle-thankyou {
		display: block;
		float: left;
		width: 100%;
		padding: 25px 10%;
		padding: 1.5625rem 10%
	}

	.woocommerce .backcontainer {
		margin: 2% 0
	}

	.woocommerce .variations select#pa_color option[value=neon-yellow],
	.woocommerce .variations select#pa_color option[value=tan] {
		display: none
	}

	.woocommerce .variations label[for=pa_color] span {
		background: #000
	}

	.woocommerce nav.woocommerce-breadcrumb {
		display: none
	}

	.woocommerce table.shop_table {
		background: #fff;
		border-radius: 0
	}

	.woocommerce table.shop_table dl.variation {
		display: none
	}

	.woocommerce .button {
		border-radius: 0 !important
	}

	.woocommerce .woocommerce-shipping-calculator {
		display: none
	}

	.woocommerce label {
		margin-top: 15px;
		margin-top: .9375rem;
		display: block;
		width: 100%;
		float: left;
		color: #919299;
		font-weight: 700;
		text-transform: uppercase;
		font-size: .875em
	}

	.woocommerce table.variations {
		float: left;
		width: 100%
	}

	.woocommerce table.variations td,
	.woocommerce table.variations tr {
		display: block
	}

	.woocommerce table.variations td.label label {
		margin-top: 15px;
		margin-top: .9375rem;
		display: block;
		width: 100%;
		float: left;
		color: #919299;
		font-weight: 700;
		text-transform: uppercase;
		font-size: .875em
	}

	.woocommerce table.variations td a.reset_variations {
		display: block;
		float: left;
		clear: both;
		color: #7b4799;
		padding: 1% 0;
		font-weight: 700;
		text-decoration: underline;
		display: none !important
	}

	.woocommerce .woocommerce-message {
		background: #fff;
		border-top: 3px solid #0c99ae;
		border-top: .1875rem solid #0c99ae
	}

	.woocommerce .woocommerce-message:before {
		color: #0c99ae
	}

	.woocommerce .woocommerce-info {
		background: #fff;
		border-top: 3px solid #7b4799;
		border-top: .1875rem solid #7b4799
	}

	.woocommerce .woocommerce-info:before {
		color: #7b4799
	}

	.woocommerce div.product {
		padding: 0 0 5%
	}

	.woocommerce div.product div.images {
		width: 40%;
		float: left
	}

	@media (max-width:30rem) {
		.woocommerce div.product div.images {
			width: 100%
		}
	}

	.woocommerce div.product div.summary {
		width: 55%;
		float: right
	}

	@media (max-width:30rem) {
		.woocommerce div.product div.summary {
			width: 100%;
			float: left
		}
	}

	.woocommerce div.product div.summary h1 {
		color: #919299;
		font-size: 2.25em;
		margin-bottom: 0;
		padding-bottom: 0
	}

	.woocommerce div.product div.summary p.price {
		margin: 3% 0;
		padding: 0
	}

	.woocommerce div.product div.summary p.price span.amount {
		font-size: 1.75em;
		line-height: 28px;
		line-height: 1.75rem;
		color: #164c70;
		position: relative
	}

	.woocommerce div.product:not(.product_cat-winter-gear) div.summary p.price span.amount:after {
		content: " /per pair (15 pair minimum)";
		display: inline-block;
		color: #164c70;
		font-size: 16px;
		font-size: 1rem;
		line-height: 36px;
		line-height: 2.25rem;
		margin: 0 0 0 5px;
		margin: 0 0 0 .3125rem
	}

	.woocommerce div.product.product_cat-winter-gear div.summary p.price span.amount:after {
		content: " (12 minimum)";
		display: inline-block;
		color: #164c70;
		font-size: 16px;
		font-size: 1rem;
		line-height: 36px;
		line-height: 2.25rem;
		margin: 0 0 0 5px;
		margin: 0 0 0 .3125rem
	}

	.woocommerce div.product.product_cat-print-socks div.summary p.price span.amount:after {
		content: " /per pair (with bulk order savings)";
		display: inline-block;
		color: #164c70;
		font-size: 16px;
		font-size: 1rem;
		line-height: 36px;
		line-height: 2.25rem;
		margin: 0 0 0 5px;
		margin: 0 0 0 .3125rem
	}

	.woocommerce div.product div.summary p.price:after {
		margin: 15px 0;
		margin: .9375rem 0
	}

	.woocommerce div.product .woocommerce-tabs .panel:after,
	.woocommerce div.product div.summary p.price:after {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		height: .3125rem;
		background: url(../images/stripe-light.png) repeat-x 0 0
	}

	.woocommerce div.product .woocommerce-tabs .panel:after {
		margin: 25px 0 -15px;
		margin: 1.5625rem 0 -.9375rem
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs {
		display: none
	}

	.woocommerce div.product form.cart button {
		cursor: pointer;
		font-size: .8125em;
		text-transform: uppercase;
		background: #fff;
		border: 1px solid #164c70;
		border: .0625rem solid #164c70;
		color: #164c70;
		padding: 15px 65px;
		padding: .9375rem 4.0625rem;
		display: inline-block;
		box-shadow: .3125rem .3125rem 0 #164c70;
		transition: all .2s ease-in-out
	}

	@media (max-width:30rem) {
		.woocommerce div.product form.cart button {
			width: 100%
		}
	}

	.woocommerce div.product form.cart button.single_add_to_cart_button {
		background: #0c99ae url(../images/ico-cart-white.png) no-repeat center right 35px;
		background: #0c99ae url(../images/ico-cart-white.png) no-repeat center right 2.1875rem;
		color: #fff;
		border: 1px solid #0c99ae;
		border: .0625rem solid #0c99ae;
		padding: 15px 85px 15px 65px;
		padding: .9375rem 5.3125rem .9375rem 4.0625rem;
		box-shadow: none;
		display: inline-block;
		float: none;
		box-shadow: .3125rem .3125rem 0 #eee
	}

	.woocommerce div.product form.cart button.single_add_to_cart_button:hover {
		background: #0d7585 url(../images/ico-cart-white.png) no-repeat center right 35px;
		background: #0d7585 url(../images/ico-cart-white.png) no-repeat center right 2.1875rem
	}

	.woocommerce div.product form.cart button.single_add_to_cart_button:active {
		background: #0d7585 url(../images/ico-cart-white.png) no-repeat center right 35px;
		background: #0d7585 url(../images/ico-cart-white.png) no-repeat center right 2.1875rem;
		box-shadow: .3125rem .3125rem 0 #eee
	}

	.woocommerce div.product form.cart button.single_add_to_cart_button:disabled {
		background-color: #0d7585
	}

	.woocommerce div.product form.cart button:hover {
		background: #2971a1;
		color: #fff
	}

	.woocommerce div.product form.cart button:active {
		background: #2971a1;
		box-shadow: .125rem .125rem 0 #164c70
	}

	.woocommerce form input[type=email],
	.woocommerce form input[type=password],
	.woocommerce form input[type=phone],
	.woocommerce form input[type=text],
	.woocommerce form textarea {
		padding: 10px;
		padding: .625rem;
		width: 100% !important;
		background: #eee;
		border: 1px solid #919299;
		border: .0625rem solid #919299;
		float: left;
		margin-bottom: 15px;
		margin-bottom: .9375rem;
		position: relative;
		font-size: 1em
	}

	@media (max-width:30rem) {

		.woocommerce form input[type=email],
		.woocommerce form input[type=password],
		.woocommerce form input[type=phone],
		.woocommerce form input[type=text],
		.woocommerce form textarea {
			font-size: 1em
		}
	}

	.woocommerce form textarea {
		min-height: 150px;
		min-height: 9.375rem
	}

	.woocommerce .quantity {
		float: left;
		width: 100px;
		width: 6.25rem
	}

	.woocommerce .quantity input[type=number] {
		padding: 12px;
		padding: .75rem;
		width: 80%;
		background: #eee;
		float: left;
		border: none;
		margin-bottom: 15px;
		margin-bottom: .9375rem;
		position: relative;
		font-size: 1em;
		border: 1px solid #919299;
		border: .0625rem solid #919299
	}

	@media (max-width:30rem) {
		.woocommerce .quantity input[type=number] {
			font-size: 1em
		}
	}

	.woocommerce .product_meta {
		display: none
	}

	.woocommerce .specheading {
		background: #164c70;
		text-align: center;
		padding: 15px;
		padding: .9375rem;
		color: #fff;
		margin-bottom: 35px;
		margin-bottom: 2.1875rem
	}

	.woocommerce .specheading h2 {
		font-size: 1.3125em
	}

	.woocommerce .specheading h3 {
		color: #e2c525;
		text-transform: uppercase;
		font-size: .6875em
	}

	.woocommerce .intro {
		margin: 0 0 15px;
		margin: 0 0 .9375rem;
		padding: 25px 0 0;
		padding: 1.5625rem 0 0;
		position: relative
	}

	@media (max-width:48rem) {
		.woocommerce .intro {
			display: none
		}
	}

	.woocommerce .intro:before {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		height: .3125rem;
		margin: 0;
		background: url(../images/stripe-light.png) repeat-x 0 0
	}

	.woocommerce .intro p strong {
		color: #164c70;
		font-size: .9375em;
		line-height: 1.5
	}

	.woocommerce .intro h2 {
		color: #919299;
		font-size: 1.5em;
	}

	.woocommerce div.specbtn {
		background: #164c70;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		float: right;
		text-align: center;
		text-transform: uppercase;
		font-size: .8125em;
		width: 46%;
		height: 50px;
		height: 3.125rem;
		line-height: 50px;
		line-height: 3.125rem;
		font-weight: 700;
		margin: 15px 0 0;
		margin: .9375rem 0 0;
		box-shadow: .3125rem .3125rem 0 #eee
	}

	@media (max-width:48rem) {
		.woocommerce div.specbtn {
			width: 100%;
			float: left;
			clear: both;
			display: block;
			margin-bottom: .9375rem
		}
	}

	.woocommerce input.design-lab {
		display: inline-block !important;
		background: #0c99ae !important;
		border-radius: 0;
		float: left !important;
		border-bottom: none !important;
		width: 46% !important;
		height: 50px;
		height: 3.125rem;
		margin: 15px 2% 0 0 !important;
		margin: .9375rem 2% 0 0 !important;
		padding: 0 !important;
		font-size: .8125em !important;
		line-height: 50px;
		line-height: 3.125rem;
		font-weight: 700 !important;
		text-transform: uppercase;
		box-shadow: .3125rem .3125rem 0 #eee
	}

	@media (max-width:48rem) {
		.woocommerce input.design-lab {
			width: 100% !important;
			float: left;
			clear: both;
			display: block;
			margin-bottom: .9375rem;
			display: none !important
		}
	}

	.woocommerce .sockspecs {
		margin: 50px 0 0;
		margin: 3.125rem 0 0;
		display: none;
		position: relative
	}

	.woocommerce .sockspecs h2.addon-name {
		font-weight: 700;
		font-size: 1.125em;
		text-align: center;
		color: #0c99ae;
		text-transform: uppercase;
		margin-bottom: 15px;
		margin-bottom: .9375rem
	}

	.woocommerce .sockspecs h2.addon-name span {
		padding: 0 10px;
		padding: 0 .625rem;
		position: relative;
		z-index: 100
	}

	.woocommerce .sockspecs h2.addon-name span:after,
	.woocommerce .sockspecs h2.addon-name span:before {
		content: "";
		display: block;
		width: 210px;
		width: 13.125rem;
		height: 5px;
		height: .3125rem;
		margin: 15px 0;
		margin: .9375rem 0;
		background: url(../images/stripe-light.png) repeat-x 0 0;
		position: absolute;
		top: -5px;
		top: -.3125rem
	}

	@media (max-width:64rem) {

		.woocommerce .sockspecs h2.addon-name span:after,
		.woocommerce .sockspecs h2.addon-name span:before {
			width: 100%
		}
	}

	.woocommerce .sockspecs h2.addon-name span:before {
		left: 100%
	}

	.woocommerce .sockspecs h2.addon-name span:after {
		right: 100%
	}

	.woocommerce .sockspecs h3.addon-name {
		font-weight: 700;
		text-transform: uppercase;
		font-size: .875em;
		color: #919299
	}

	.woocommerce .addon-description p {
		margin: 0 0 1rem;
	}

	.woocommerce .sockspecs .select-style {
		background-color: #fff;
		float: none;
		display: inline-block
	}

	.woocommerce .sockspecs input[type=text],
	.woocommerce .sockspecs textarea {
		background: #fff;
	}

	.woocommerce .sockspecs form .form-row {
		padding: 0 !important;
		margin: 0 !important
	}

	.woocommerce .sockspecs .section {
		position: relative;
		padding: 0 15px;
		padding: 0 .9375rem;
		background: #eee
	}

	.woocommerce .sockspecs .section.item-1 {
		border-top: 5px solid #b2b2b2;
		border-top: .3125rem solid #b2b2b2;
		position: relative;
		padding-top: 35px;
		padding-top: 2.1875rem
	}

	.woocommerce .sockspecs .section.item-1:after {
		content: "";
		width: 42px;
		width: 2.625rem;
		height: 42px;
		height: 2.625rem;
		display: block;
		background: url(../images/ico-specs.png) no-repeat 0 0;
		position: absolute;
		top: -21px;
		top: -1.3125rem;
		left: 50%;
		margin-left: -21px;
		margin-left: -1.3125rem
	}

	.woocommerce .sockspecs .section.item-2,
	.woocommerce .sockspecs .section.item-7,
	.woocommerce .sockspecs .section.item-10,
	.woocommerce .sockspecs .section.item-11 {
		padding-bottom: 35px;
		padding-bottom: 2.1875rem
	}

	.woocommerce .sockspecs .section.item-3 {
		border-top: 5px solid #b2b2b2;
		border-top: .3125rem solid #b2b2b2;
		position: relative;
		padding-top: 35px;
		padding-top: 2.1875rem;
		margin-top: 50px;
		margin-top: 3.125rem
	}

	.woocommerce .sockspecs .section.item-3 textarea {
		width: 80% !important;
		margin: 0 10%
	}

	.woocommerce .sockspecs .section.item-3 .product-addon-text-13-letter-max label {
		display: none
	}

	.woocommerce .sockspecs .section.item-3:after {
		content: "";
		width: 42px;
		width: 2.625rem;
		height: 42px;
		height: 2.625rem;
		display: block;
		background: url(../images/ico-text.png) no-repeat 0 0;
		position: absolute;
		top: -21px;
		top: -1.3125rem;
		left: 50%;
		margin-left: -21px;
		margin-left: -1.3125rem
	}

	.woocommerce .sockspecs .section.item-8 {
		border-top: 5px solid #b2b2b2;
		border-top: .3125rem solid #b2b2b2;
		padding-top: 35px;
		padding-top: 2.1875rem;
		margin-top: 50px;
		margin-top: 3.125rem;
		text-align: center;
		position: relative;
		z-index: 100
	}

	.woocommerce .sockspecs .section.item-8 .product-addon-logo-id h3,
	.woocommerce .sockspecs .section.item-8 .product-addon-logo-id label {
		display: none
	}

	.woocommerce .sockspecs .section.item-8 input[type=text] {
		width: 40% !important;
		margin: 0 30%
	}

	.woocommerce .sockspecs .section.item-8 p {
		text-align: center;
		padding: 10px 0;
		padding: .625rem 0
	}

	.woocommerce .sockspecs .section.item-8:after {
		content: "";
		width: 42px;
		width: 2.625rem;
		height: 42px;
		height: 2.625rem;
		display: block;
		background: url(../images/ico-logo.png) no-repeat 0 0;
		position: absolute;
		top: -21px;
		top: -1.3125rem;
		left: 50%;
		margin-left: -21px;
		margin-left: -1.3125rem
	}

	.woocommerce .sockspecs .section.item-11 {
		border-top: 5px solid #b2b2b2;
		border-top: .3125rem solid #b2b2b2;
		position: relative;
		padding-top: 35px;
		padding-top: 2.1875rem;
		margin-top: 50px;
		margin-top: 3.125rem
	}

	.woocommerce .sockspecs .section.item-11 textarea {
		width: 80% !important;
		margin: 0 10%
	}

	.woocommerce .sockspecs .section.item-11 h2.addon-name span:after,
	.woocommerce .sockspecs .section.item-11 h2.addon-name span:before {
		width: 110px;
		width: 6.875rem
	}

	@media (max-width:48rem) {

		.woocommerce .sockspecs .section.item-11 h2.addon-name span:after,
		.woocommerce .sockspecs .section.item-11 h2.addon-name span:before {
			display: none
		}
	}

	.woocommerce .sockspecs .section.item-11 h3,
	.woocommerce .sockspecs .section.item-11 label {
		display: none
	}

	.woocommerce .sockspecs .section.item-11:after {
		content: "";
		width: 42px;
		width: 2.625rem;
		height: 42px;
		height: 2.625rem;
		display: block;
		background: url(../images/ico-instructions.png) no-repeat 0 0;
		position: absolute;
		top: -21px;
		top: -1.3125rem;
		left: 50%;
		margin-left: -21px;
		margin-left: -1.3125rem
	}

	.woocommerce .woo-clear {
		display: block;
		clear: both;
		width: 100%;
		margin-bottom: 25px;
		margin-bottom: 1.5625rem
	}

	.woocommerce .variations_button {
		padding: 0;
		position: relative
	}

	.woocommerce .dd-option {
		padding: 5px !important;
		padding: .3125rem !important
	}

	header.woocommerce-products-header {
		display: none;
	}

	p.woocommerce-result-count,
	.woocommerce ul.products {
		max-width: 1024px;
		margin: 24px auto !important;
		width: 100%;
		float: none !important;
	}

	.woocommerce ul.products li.product {
		text-align: center
	}

	.woocommerce ul.products li.product a img {
		transition: all .2s ease-in-out
	}

	.woocommerce ul.products li.product a img:hover {
		-webkit-transform: scale(1.15);
		transform: scale(1.15)
	}

	@media (max-width:48rem) {
		.woocommerce ul.products li.product a img:hover {
			-webkit-transform: scale(1);
			transform: scale(1)
		}
	}

	.woocommerce ul.products li.product h2 {
		font-size: .875em;
		font-weight: 700;
		text-transform: uppercase;
		color: #444648
	}

	.woocommerce ul.products li.product span.price {
		color: #164c70;
		font-size: 1.5em
	}

	.woocommerce ul.products li.product div.images img,
	.woocommerce ul.products li.product img {
		border: 1px solid #a2a2a2;
		border: .0625rem solid #a2a2a2
	}

	.woocommerce ul.products li.product .button {
		font-size: .8125em;
		text-transform: uppercase;
		background: #fff;
		border: 1px solid #164c70;
		border: .0625rem solid #164c70;
		color: #164c70;
		padding: 15px 25px;
		padding: .9375rem 1.5625rem;
		width: 80%;
		display: inline-block;
		border-radius: 0 !important;
		box-shadow: .3125rem .3125rem 0 #164c70;
		transition: all .2s ease-in-out;
		display: none
	}

	.woocommerce ul.products li.product .button:hover {
		background: #2971a1;
		color: #fff
	}

	.woocommerce h3 {
		color: #164c70;
		font-size: 25px;
		font-size: 1.5625rem
	}

	.woocommerce .woocommerce-billing-fields {
		position: relative
	}

	.woocommerce .woocommerce-billing-fields:after {
		content: "";
		display: block;
		width: 100%;
		height: 5px;
		height: .3125rem;
		margin: 25px 0 -15px;
		margin: 1.5625rem 0 -.9375rem;
		background: url(../images/stripe-light.png) repeat-x 0 0
	}

	.woocommerce .woocommerce-billing-fields h3 {
		color: #164c70;
		font-size: 1.5em
	}

	.woocommerce .woocommerce-shipping-fields h3 label {
		color: #164c70;
		font-size: 24px;
		font-size: 1.5rem;
		text-transform: none;
		font-weight: 400
	}

	.woocommerce .woocommerce-shipping-fields h3 span {
		font-size: 16px;
		font-size: 1rem;
		color: #3a3b40
	}

	.woocommerce .woocommerce-checkout #payment {
		background: #fff;
		border: 1px solid #919299;
		border: .0625rem solid #919299;
		border-radius: 0
	}

	.woocommerce .woocommerce-checkout #payment div.payment_box {
		display: block;
		background: transparent
	}

	.woocommerce .woocommerce-checkout #payment div.payment_box:after {
		display: none
	}

	.woocommerce .woocommerce-checkout #payment label {
		float: left
	}

	.woocommerce .woocommerce-checkout #payment label a {
		display: none
	}

	.woocommerce nav.woocommerce-pagination ul.page-numbers {}

	.woocommerce nav.woocommerce-pagination ul.page-numbers li span.current {
		background: #0c99ae;
		color: #fff
	}

	.woocommerce nav.woocommerce-pagination ul.page-numbers li a {
		background: #fff;
		color: #0c99ae
	}

	.woocommerce nav.woocommerce-pagination ul.page-numbers li a:hover {
		background: #0c99ae;
		color: #fff
	}

	.woocommerce a.button,
	.woocommerce a.button.checkout-button,
	.woocommerce input[type=submit].button {
		cursor: pointer;
		font-size: .8125em;
		text-transform: uppercase;
		border: 1px solid #164c70;
		border: .0625rem solid #164c70;
		color: #164c70;
		padding: 15px 25px;
		padding: .9375rem 1.5625rem;
		display: inline-block;
		background: #fff;
		box-shadow: .3125rem .3125rem 0 #164c70;
		transition: all .2s ease-in-out
	}

	.woocommerce a.button.checkout-button:hover,
	.woocommerce a.button:hover,
	.woocommerce input[type=submit].button:hover {
		background: #2971a1;
		color: #fff
	}

	.woocommerce a.button.checkout-button:active,
	.woocommerce a.button:active,
	.woocommerce input[type=submit].button:active {
		position: relative;
		top: 3px;
		top: .1875rem;
		left: 3px;
		left: .1875rem;
		box-shadow: 0 0 0 transparent
	}

	.woocommerce a.button.checkout-button {
		display: block
	}

	.woocommerce input[type=submit].button.alt {
		padding: 15px 45px;
		padding: .9375rem 2.8125rem
	}

	#wpc-customizer table td#txt-formatting-tools,
	span.shapes-btn {
		display: none !important
	}

	.wpc-facebook,
	.wpc-instagram {
		display: none
	}

	#wpc-customizer .AccordionPanelContent {
		overflow-y: scroll !important
	}

	#wpc-customizer #img-effects-container {
		display: none !important
	}

	#wpc-customizer .images-btn,
	#wpc-customizer .text-btn,
	#wpc-customizer .user-designs-btn {
		background-color: #0c99ae !important;
		transition: all .4s ease-in-out
	}

	#wpc-customizer .images-btn.selected,
	#wpc-customizer .images-btn:hover,
	#wpc-customizer .text-btn.selected,
	#wpc-customizer .text-btn:hover,
	#wpc-customizer .user-designs-btn.selected,
	#wpc-customizer .user-designs-btn:hover {
		background-color: #7b4799 !important
	}

	#wpc-customizer a#add-text-btn,
	#wpc-customizer a#add-to-cart,
	#wpc-customizer a#download-design,
	#wpc-customizer a#preview-order,
	#wpc-customizer a#save-later {
		background-color: #0c99ae;
		transition: all .4s ease-in-out
	}

	#wpc-customizer a#add-text-btn:hover,
	#wpc-customizer a#add-to-cart:hover,
	#wpc-customizer a#download-design:hover,
	#wpc-customizer a#preview-order:hover,
	#wpc-customizer a#save-later:hover {
		background-color: #7b4799
	}

	#wpc-price #currency,
	#wpc-price #total_order {
		display: none !important
	}

	@media (max-width:64rem) {
		#fancybox-content {
			overflow: scroll !important;
			-webkit-overflow-scrolling: touch
		}
	}

	section#related {
		padding: 2% 0;
		background: #eee;
		border-top: 1px solid #919299;
		border-top: .0625rem solid #919299
	}

	section#related h2 {
		color: #919299;
		text-align: center;
		display: block;
	}

	section#related ul.products li {
		padding: 5px;
		padding: .3125rem;
		clear: none;
	}

	body .gform_wrapper::-webkit-input-placeholder {
		;
		font-style: normal;
		color: #7b7d85
	}

	body .gform_wrapper:-moz-placeholder,
	body .gform_wrapper::-moz-placeholder {
		;
		font-style: normal;
		color: #7b7d85
	}

	body .gform_wrapper:-ms-input-placeholder {
		;
		font-style: normal;
		color: #7b7d85
	}

	.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last input {
		float: right
	}

	.gform_wrapper .ginput_complex.ginput_container.has_first_name.has_last_name span.name_last label {
		margin-left: 25px;
		margin-left: 1.5625rem
	}

	.ginput_cardextras {
		clear: both;
	}

	.gform_wrapper .top_label li.gfield.gf_left_half,
	.gform_wrapper .top_label li.gfield.gf_right_half {
		margin-bottom: 0 !important
	}

	.gform_wrapper .top_label input.medium {
		width: 100%
	}

	.gform_wrapper input[type=email],
	.gform_wrapper input[type=number],
	.gform_wrapper input[type=password],
	.gform_wrapper input[type=phone],
	.gform_wrapper input[type=tel],
	.gform_wrapper input[type=text],
	.gform_wrapper input[type=url],
	.gform_wrapper select,
	.gform_wrapper textarea {
		padding: 12px !important;
		width: 100% !important;
		background: #eee;
		border: 2px solid #919299 !important;
		border: none;
		margin-bottom: 15px;
		margin-bottom: .9375rem;
		position: relative;
		font-size: 1em
	}

	#input_7_3_5_label {
		clear: both;
	}

	.gform_wrapper input[type=email]:focus,
	.gform_wrapper input[type=number]:focus,
	.gform_wrapper input[type=password]:focus,
	.gform_wrapper input[type=phone]:focus,
	.gform_wrapper input[type=tel]:focus,
	.gform_wrapper input[type=text]:focus,
	.gform_wrapper input[type=url]:focus,
	.gform_wrapper select:focus,
	.gform_wrapper textarea:focus {
		border-color: #009BB0 !important;
	}

	.gform_wrapper .gform_fileupload_multifile .gform_drop_area {
		border: 2px dashed #919299 !important;
		background-color: #eee !important;
		border-radius: 0 !important;
	}

	.gform_wrapper .gform_fileupload_multifile .gform_drop_area .gform_drop_instructions {
		color: black !important;
	}

	.gform_wrapper label.gfield_label {
		font-weight: 400 !important;
	}

	@media (max-width:30rem) {

		.gform_wrapper input[type=email],
		.gform_wrapper input[type=number],
		.gform_wrapper input[type=password],
		.gform_wrapper input[type=phone],
		.gform_wrapper input[type=tel],
		.gform_wrapper input[type=text],
		.gform_wrapper input[type=url],
		.gform_wrapper select,
		.gform_wrapper textarea {
			font-size: 1em
		}
	}

	span.gfield_required {
		color: #af0e0e
	}

	.select-style {
		border: 1px solid #919299;
		border: .0625rem solid #919299;
		background: #eee url(../images/select-arrow.png) no-repeat center right 15px;
		width: 40%;
		float: left;
		display: block
	}

	@media (max-width:48rem) {
		.select-style {
			width: 100%;
			float: left;
			clear: both;
			display: block;
			margin-bottom: .9375rem
		}
	}

	select {
		font-size: .9375em;
		padding: 10px;
		padding: .625rem;
		width: 50%;
		box-shadow: none;
		background: transparent;
		background-image: none;
	}

	select:focus {
		outline: none
	}

	footer[role=contentinfo] {
		padding: 2% 0;
		background: #3a3b40
	}

	@media (max-width:48rem) {
		footer[role=contentinfo] {
			padding: 8% 0
		}
	}

	footer[role=contentinfo] #footertop {
		margin-bottom: 25px;
		margin-bottom: 1.5625rem
	}

	footer[role=contentinfo] #footertop .col {
		width: 20%;
		float: left;
		padding: 0 10px;
		padding: 0 .625rem
	}

	@media (max-width:48rem) {
		footer[role=contentinfo] #footertop .col {
			width: 100%;
			float: left;
			clear: both;
			text-align: center;
			margin: .9375rem 0 0;
			padding-top: .9375rem;
			background: url(../images/stripe-light.png) repeat-x 0 0
		}
	}

	footer[role=contentinfo] #footertop .col:first-child {
		background: none;
		padding-top: 0;
		margin-top: 0
	}

	footer[role=contentinfo] #footertop .col:nth-child(4) {
		width: 40%
	}

	@media (max-width:48rem) {
		footer[role=contentinfo] #footertop .col:nth-child(4) {
			width: 100%
		}
	}

	footer[role=contentinfo] #footertop .col .socialicons {
		margin-top: 10px;
		margin-top: .625rem
	}

	footer[role=contentinfo] #footertop .col h3 {
		font-weight: 300;
		font-size: .8125em;
		color: #e2c525;
		text-transform: uppercase;
		margin-bottom: 10px;
		margin-bottom: .625rem
	}

	footer[role=contentinfo] #footertop .col p,
	footer[role=contentinfo] #footertop .col ul {
		color: #fff;
		font-size: .8125em
	}

	footer[role=contentinfo] #footertop .col p a,
	footer[role=contentinfo] #footertop .col ul a {
		color: #fff
	}

	footer[role=contentinfo] #footertop .col p a:hover,
	footer[role=contentinfo] #footertop .col ul a:hover {
		color: #e2c525
	}

	footer[role=contentinfo] #footertop .col ul li {
		padding: 2px 0;
		padding: .125rem 0
	}

	footer[role=contentinfo] #footertop .col ul li.menu-item-search {
		display: none
	}

	footer[role=contentinfo] #footertop .col form {
		margin-top: 15px;
		margin-top: .9375rem;
		width: 90%
	}

	@media (max-width:30rem) {
		footer[role=contentinfo] #footertop .col form {
			width: 100%
		}
	}

	footer[role=contentinfo] #footertop .col form input[type=email] {
		width: 70%;
		padding: 10px;
		padding: .625rem;
		height: 35px;
		height: 2.1875rem;
		color: #fff;
		background: #303135;
		border: 1px solid #89898c;
		border: .0625rem solid #89898c;
		display: inline-block;
		margin-right: 2%
	}

	@media (max-width:30rem) {
		footer[role=contentinfo] #footertop .col form input[type=email] {
			width: 100%;
			margin-bottom: .9375rem
		}
	}

	footer[role=contentinfo] #footertop .col form input[type=submit] {
		width: 25%;
		background: #0c99ae;
		text-transform: uppercase;
		color: #fff;
		padding: 0 10px;
		padding: 0 .625rem;
		font-size: .8125em;
		height: 35px;
		height: 2.1875rem;
		line-height: 35px;
		line-height: 2.1875rem;
		border: none;
		cursor: pointer;
		border: 1px solid #0c99ae;
		border: .0625rem solid #0c99ae;
		margin-top: 0;
		display: inline-block;
		transition: all .4s ease-in-out
	}

	@media (max-width:30rem) {
		footer[role=contentinfo] #footertop .col form input[type=submit] {
			width: 50%;
			display: block;
			margin: 0 25%
		}
	}

	footer[role=contentinfo] #footertop .col form input[type=submit]:hover {
		background: #2ac1d8
	}

	footer[role=contentinfo] #footerbottom {
		background: url(../images/stripe-light.png) repeat-x 0 0;
		padding-top: 15px;
		padding-top: .9375rem;
		margin-top: 15px;
		margin-top: .9375rem
	}

	@media (max-width:30rem) {
		footer[role=contentinfo] #footerbottom {
			padding-top: 1.5625rem
		}
	}

	footer[role=contentinfo] #footerbottom p.left,
	footer[role=contentinfo] #footerbottom p.right {
		color: #fff;
		font-size: .8125em
	}

	@media (max-width:30rem) {

		footer[role=contentinfo] #footerbottom p.left,
		footer[role=contentinfo] #footerbottom p.right {
			float: none;
			text-align: center;
			display: block;
			width: 100%;
			margin: 0 0 .3125rem;
			padding: 0
		}
	}

	footer[role=contentinfo] #footerbottom p.left a,
	footer[role=contentinfo] #footerbottom p.right a {
		color: #fff
	}

	footer[role=contentinfo] #footerbottom p.left {
		float: left
	}

	footer[role=contentinfo] #footerbottom p.right {
		float: right
	}

	@media (max-width:48rem) {
		.woocommerce .intro {
			display: block !important
		}
	}

	.button-divide {
		display: inline-block;
		width: 2px;
		width: .125rem;
		height: 30px;
		height: 1.875rem;
		margin: 0 6px 0 15px;
		margin: 0 .375rem 0 .9375rem;
		background: #fff;
		position: relative;
		top: 15px;
		top: .9375rem
	}

	.page-template-page-landing-2017 .landing-intro {
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		display: table;
		height: 100vh;
		width: 100%
	}

	.page-template-page-landing-2017 .landing-intro .intro-content-center {
		display: table-cell;
		vertical-align: middle
	}

	.page-template-page-landing-2017 .landing-intro .intro-content {
		margin: 0 auto;
		max-width: 750px;
		max-width: 46.875rem;
		text-align: center
	}

	.page-template-page-landing-2017 .intro-content .landing-icon {
		background-color: #e2c525;
		background-size: 2.875rem 2.875rem;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 75px;
		height: 4.6875rem;
		margin: 70px auto 20px;
		margin: 4.375rem auto 1.25rem;
		padding: 16px;
		padding: 1rem;
		position: relative;
		width: 75px;
		width: 4.6875rem
	}

	.page-template-page-landing-2017 .intro-content .landing-icon:before {
		left: -125px;
		left: -7.8125rem
	}

	.page-template-page-landing-2017 .intro-content .landing-icon:after,
	.page-template-page-landing-2017 .intro-content .landing-icon:before {
		background-image: url(../images/landing-icon-before.png);
		background-repeat: no-repeat;
		content: "";
		display: block;
		height: 9px;
		height: .5625rem;
		position: absolute;
		top: 34px;
		top: 2.125rem;
		width: 97px;
		width: 6.0625rem
	}

	.page-template-page-landing-2017 .intro-content .landing-icon:after {
		right: -125px;
		right: -7.8125rem
	}

	.page-template-page-landing-2017 .intro-content h1 {
		color: #fff;
		font-size: 64px;
		font-size: 4rem;
		font-weight: 300;
		line-height: 68px;
		line-height: 4.25rem;
		margin-top: 0;
		text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
		text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5)
	}

	.page-template-page-landing-2017 .landing-page-content-container {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 100%;
		padding: 50px 20px;
		padding: 3.125rem 1.25rem;
		min-height: 500px;
		min-height: 31.25rem;
		display: table;
		width: 100%
	}

	.page-template-page-landing-2017 .landing-page-center {
		display: table-cell;
		vertical-align: middle
	}

	.page-template-page-landing-2017 .landing-page-content {
		margin: 0 auto;
		max-width: 750px;
		max-width: 46.875rem;
		text-align: center
	}

	.page-template-page-landing-2017 .landing-page-content .btn {
		margin-top: 65px;
		margin-top: 4.0625rem
	}

	.page-template-page-landing-2017 .wdi_feed_wrapper {
		text-align: center !important
	}

	.page-template-page-landing-2017 .landing-instagram {
		text-align: center;
		padding: 70px 20px;
		padding: 4.375rem 1.25rem
	}

	.page-template-page-landing-2017 .landing-instagram-content h2 {
		color: #0c99ae;
		font-size: 22px;
		font-size: 1.375rem;
		font-weight: 800;
		letter-spacing: 1px;
		letter-spacing: .0625rem;
		line-height: 30px;
		line-height: 1.875rem;
		text-transform: uppercase
	}

	.page-template-page-landing-2017 .landing-instagram-content .wdi_feed_container {
		max-width: 1200px;
		max-width: 75rem
	}

	.page-template-page-landing-2017 .landing-instagram-content .wdi_load_more {
		display: none
	}

	.page-template-page-landing-2017 .landing-questions {
		text-align: center;
		padding: 100px 20px;
		padding: 6.25rem 1.25rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%
	}

	.page-template-page-landing-2017 .landing-questions h2 {
		text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
		text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5);
		color: #fff;
		font-size: 64px;
		font-size: 4rem;
		font-weight: 300;
		line-height: 68px;
		line-height: 4.25rem
	}

	.page-template-page-landing-2017 .landing-questions p {
		color: #fff;
		font-weight: 500;
		letter-spacing: 1px;
		letter-spacing: .0625rem;
		line-height: 22px;
		line-height: 1.375rem;
		text-transform: uppercase
	}


	.page-template-page-landing-2017 .testimonals-container {
		text-align: center;
		padding: 75px 20px;
		padding: 4.6875rem 1.25rem;
		background-color: #0c99ae;
		height: auto !important
	}

	.page-template-page-landing-2017 .testimonals-container .quote {
		background-image: url(../images/icon-quote.png);
		background-color: #e2c525;
		background-size: 2.1875rem;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: 50%;
		height: 75px;
		height: 4.6875rem;
		margin: 0 auto 20px;
		margin: 0 auto 1.25rem;
		padding: 16px;
		padding: 1rem;
		position: relative;
		width: 75px;
		width: 4.6875rem
	}

	.page-template-page-landing-2017 .testimonals-container h3 {
		color: #fff;
		font-size: 22px;
		font-size: 1.375rem;
		font-weight: 800;
		letter-spacing: 1px;
		letter-spacing: .0625rem;
		line-height: 30px;
		line-height: 1.875rem;
		text-transform: uppercase
	}

	.page-template-page-landing-2017 .testimonals-container .flexslider {
		height: auto !important
	}

	.page-template-page-landing-2017 .testimonals-container .flexslider .slidecontent {
		padding-top: 0 !important
	}

	.page-template-page-landing-2017 .testimonals-container .flexslider ul li {
		height: auto !important;
		padding-bottom: 25px;
		padding-bottom: 1.5625rem
	}

	.page-template-page-landing-2017 .testimonals-container .flex-control-paging li a.flex-active {
		background: #7b4799 !important
	}

	.page-template-page-landing-2017 .testimony p {
		color: #fff;
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 28px;
		line-height: 1.75rem;
		max-width: 1024px;
		max-width: 64rem;
		width: 95%;
		margin: 0 auto
	}

	.page-template-page-landing-2017 .testimony span.author {
		display: block;
		padding: 20px 0;
		padding: 1.25rem 0;
		color: #fff;
		font-size: 16px;
		font-size: 1rem;
		font-weight: 500;
		letter-spacing: 1px;
		letter-spacing: .0625rem;
		line-height: 22px;
		line-height: 1.375rem;
		text-transform: uppercase
	}

	footer.landing-footer {
		padding: 25px 20px !important;
		padding: 1.5625rem 1.25rem !important
	}

	footer.landing-footer #footertop {
		margin: 0 !important
	}

	footer.landing-footer img {
		float: left;
		width: 85px;
		width: 5.3125rem
	}

	footer.landing-footer p {
		text-align: right;
		color: #fff;
		font-size: 12px;
		font-size: .75rem
	}

	footer.landing-footer p a {
		color: #fff;
		margin: 0 0 0 15px;
		margin: 0 0 0 .9375rem
	}

	@media only screen and (max-width:31.25rem) {
		.page-template-page-landing-2017 .intro-content .landing-icon {
			margin-top: 3.125rem
		}

		.page-template-page-landing-2017 .intro-content h1,
		.page-template-page-landing-2017 .landing-questions h2 {
			font-size: 45px;
			font-size: 2.8125rem;
			line-height: 48px;
			line-height: 3rem
		}

		footer.landing-footer #footertop,
		footer.landing-footer #footertop p {
			text-align: center !important
		}

		footer.landing-footer img {
			float: none
		}

		footer.landing-footer p a {
			display: inline-block
		}
	}

	#gform_fields_6.gfield_checkbox li label {
		display: block
	}

	#gform_6 .gform_body,
	#gform_6 .top_label li ul.gfield_checkbox,
	#gform_6 .top_label li ul.gfield_radio {
		width: 100% !important
	}

	#gform_6 .ginput_container_checkbox li {
		display: inline-block;
		width: 13.28%;
		position: relative
	}

	@media (max-width:767px) {
		#gform_6 .ginput_container_checkbox li {
			width: 49.9%
		}
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox] {
		width: 50px !important;
		width: 3.125rem !important;
		height: 50px;
		height: 3.125rem;
		border: none !important;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none
	}

	@media (max-width:767px) {
		#gform_6 .ginput_container_checkbox li input[type=checkbox] {
			width: 100% !important;
			height: 75px;
			height: 4.6875rem
		}
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox]:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border: 1px solid #000;
		border: .0625rem solid #000;
		z-index: 200
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox]:after {
		content: "";
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox]:checked:after {
		background-image: url(../images/ico-checkmark-black.png);
		background-repeat: no-repeat;
		background-size: 1.625rem 1.1875rem;
		background-position: 50%;
		z-index: 800
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Black] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Black]:before {
		background: #000
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Brown] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Brown]:before {
		background: #563702
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Pink] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Pink]:before {
		background: #feccff
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Dark Green"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Dark Green"]:before {
		background: #2a6503
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Gold] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Gold]:before {
		background: #f3d71a
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Grey] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Grey]:before {
		background: #949494
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Hot Pink"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Hot Pink"]:before {
		background: #fd57c4
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Kelly Green"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Kelly Green"]:before {
		background: #24c60e
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Maroon] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Maroon]:before {
		background: #6d060f
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Navy Blue"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Navy Blue"]:before {
		background: #072369
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Neon Green"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Neon Green"]:before {
		background: #7eff00
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Neon Pink"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Neon Pink"]:before {
		background: #ff3cea
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Orange] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Orange]:before {
		background: #ff5918
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Pink] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Pink]:before {
		background: #feccff
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Purple] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Purple]:before {
		background: #660b90
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Red] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Red]:before {
		background: red
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Royal Blue"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Royal Blue"]:before {
		background: #105fe1
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Sky Blue"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Sky Blue"]:before {
		background: #58b9f1
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Teal] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Teal]:before {
		background: teal
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Vegas Gold"] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value="Vegas Gold"]:before {
		background: #c2b757
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=White] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=White]:before {
		background: #fff
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Yellow] {
		position: relative
	}

	#gform_6 .ginput_container_checkbox li input[type=checkbox][value=Yellow]:before {
		background: #f6ff00
	}

	.pricing-card {
		width: 25%;
		margin: 0 0 6vh;
		padding: 0 2vw;
	}

	.pricing-table {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 70vw;
		margin: 0 auto;
	}

	.pricing-card h3 {
		font-size: 32px;
		color: #0c99ae;
		margin: 1vh 0;
	}

	.pricing-card p {
		font-size: 20px;
		margin: 0;
	}

	@media (max-width:767px) {
		.pricing-table {
			width: 90vw;
		}

		.pricing-card h3 {
			font-size: 26px;
		}
	}

	@media (max-width:500px) {
		.pricing-card {
			width: 50%;
		}
	}

	.page-template-page-single-form-lander section#headerimg {
		height: 22rem;
	}

	.sock-month-final a {
		margin: 0 auto;
		position: relative;
		z-index: 3;
	}

	.wpc-editor-wrap {
		padding-bottom: 20px;
	}

	.sotm-pagination a {
		display: none;
	}

	.previous-months button {
		font-size: .8125em;
		text-transform: uppercase;
		background: #fff;
		border: 1px solid #164c70;
		border: .0625rem solid #164c70;
		color: #164c70;
		padding: 15px 25px;
		padding: .9375rem 1.5625rem;
		font-weight: 600;
		display: inline-block;
		position: relative;
		cursor: pointer;
		transition: -webkit-transform .15s linear;
		transition: transform .15s linear;
		transition: transform .15s linear, -webkit-transform .15s linear
	}

	.previous-months button:after,
	.previous-months button:before {
		content: "";
		display: block;
		background: #164c70
	}

	.previous-months button:before {
		width: 10px;
		width: .625rem;
		position: absolute;
		top: 4px;
		top: .25rem;
		bottom: -5px;
		bottom: -.3125rem;
		right: -10px;
		right: -.625rem;
		-webkit-transform: skewY(45deg);
		transform: skewY(45deg);
		transition: width, right, top, bottom;
		transition-duration: inherit;
		transition-timing-function: inherit
	}

	.previous-months button:after {
		height: 10px;
		height: .625rem;
		position: absolute;
		bottom: -10px;
		bottom: -.625rem;
		right: -5px;
		right: -.3125rem;
		left: 4px;
		left: .25rem;
		-webkit-transform: skewX(45deg);
		transform: skewX(45deg);
		transition: height, right, right, bottom;
		transition-duration: inherit;
		transition-timing-function: inherit
	}

	.previous-months button:hover {
		-webkit-transform: translate(-.125rem, .125rem);
		transform: translate(-.125rem, .125rem);
		transition: -webkit-transform .15s linear;
		transition: transform .15s linear;
		transition: transform .15s linear, -webkit-transform .15s linear;
		background: #2971a1;
		color: #fff
	}

	.previous-months button:hover:before {
		width: 8px;
		width: .5rem;
		right: -8px;
		right: -.5rem;
		top: 4px;
		top: .25rem;
		bottom: -5px;
		bottom: -.3125rem;
		transition: width, right, top, bottom;
		transition-duration: inherit;
		transition-timing-function: inherit
	}

	.previous-months button:hover:after {
		height: 8px;
		height: .5rem;
		bottom: -8px;
		bottom: -.5rem;
		right: -4px;
		right: -.25rem;
		left: 3px;
		left: .1875rem;
		transition: height, bottom, left, right;
		transition-duration: inherit;
		transition-timing-function: inherit
	}

	.previous-months button:active {
		outline: none;
		border: none;
		-webkit-transform: translate(-.5rem, .5rem);
		transform: translate(-.5rem, .5rem);
		transition: -webkit-transform .15s linear;
		transition: transform .15s linear;
		transition: transform .15s linear, -webkit-transform .15s linear
	}

	.previous-months button:active:before {
		width: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transition: width, right, top, bottom;
		transition-duration: inherit;
		transition-timing-function: inherit
	}

	.previous-months button:active:after {
		height: 0;
		right: 0;
		left: 0;
		bottom: 0;
		transition: height, right, left, bottom;
		transition-duration: inherit;
		transition-timing-function: inherit
	}

	.load-more-btn {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.page-load-status {
		display: none;
	}

	section#socklife {
		& .slcontainer {
			padding: 24px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			& article {
				width: 33.33%;
				display: inline-block;
				clear: none;
				padding: 0 15px;
				padding: 0 .9375rem;
				min-height: 360px;
				margin: 0 auto 24px auto;

				@media (max-width: 500px) {
					width: 80%;
				}

				@media (max-width: 800px) {
					width: 48%;
				}

				& h3 {
					text-align: center;

					& a {
						color: #164c70;
						text-decoration: none;
					}
				}

				& span.date {
					display: block;
					color: #919299;
					text-align: center;
				}
			}
		}
	}