/* DRESS SOCK STYLES */

.single-product .pricing-table {
	max-width: 100%;
	margin-top: 1.5em;
	position: relative;

	& .pricing-card {
		padding: 0 10px;
		margin: 0 0 2em 0;

		& h3 {
			font-size: 1.75em;
			text-align: center;
		}

		& p {
			font-size: 1em;
			text-align: center;
			color: #000;
		}
	}
}

#large-order-call {
	clear: both;
	display: block;

	& a {
		color: #0c99ae;
	}
}

/* ADDON STYLES */

.product-addon span.title {
	font-size: .75em;
	display: block;
	width: auto;
	color: #3a3b40
}

.product-addon {
	position: relative;
}

.product-addon .form-row::before,
.product-addon .form-row::after {
	display: none
}

/* ADDON HEADINGS */
.wc-pao-addon {
	margin: 0 0 2rem;
}

.wc-pao-addons-container {
	margin-top: 2rem;
}

.product-addon h3 {
	margin: 0 0 1rem;
	width: 100%;
	background: #fff;
	display: block;
	padding-right: .5em;

	&.wc-pao-addon-name {
		margin: 0 0 1rem;
		display: block;
	}

	& span {
		font-size: .75em;
		color: #20B2BB !important;
	}
}

/* ADDON TEXT FIELDS */

.product-addon input[type="text"],
.product-addon textarea {
	max-width: 100%;
	background-color: #fff !important;
	border: 1px solid #919299 !important;
	color: #919299;
	font-family: Avenir-Medium, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* ADDON CHECKBOX FIELDS */

.product-addon input[type="checkbox"] {
	-webkit-appearance: none;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border-radius: 4px;
	background-color: transparent;
	border: 2px solid #919299;
	margin: 0 .5em 0 0;
	outline: none;
	float: left;

	&:checked {
		background-color: #919299;

		&+label::before {
			content: "\2713";
			position: absolute;
			width: 1em;
			height: 1em;
			font-size: 1em;
			color: #fff;
			left: .25em;
		}
	}

	&+label {
		width: auto;
		margin: 0;
		float: none;
		line-height: 1;
		font-size: 1em;
		position: relative;
		margin-top: .14em;
		cursor: pointer;
	}
}

/* ADDON RADIO FIELDS */

.product-addon input[type="radio"] {
	-webkit-appearance: none;
	display: inline-block;
	width: 1.15em;
	height: 1.15em;
	border-radius: 50%;
	background-color: #919299;
	border: 1px solid #919299;
	margin: 0 .5em 0 0;
	outline: none;

	&:checked {
		background-color: #000;
	}

	&+label {
		width: auto;
		margin: 0;
		float: none;
		line-height: 1;
		font-size: 1em;
		cursor: pointer;
	}
}

/* ADDON SELECT FIELDS */

.product-addon select {
	max-width: 300px;
	border: 1px solid #919299;
	color: #919299;
	font-family: Avenir-Medium, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* ADDON UPLOAD FIELDS */

.product-addon input[type="file"] {
	color: transparent;

	&::-webkit-file-upload-button {
		visibility: hidden;
	}

	&::before {
		content: "Upload File";
		display: inline-block;
		border: 2px solid #919299;
		background-color: transparent;
		color: #919299;
		font-family: Avenir-Medium, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		cursor: pointer;
		padding: .75em 1.25em;
		outline: 0;
		white-space: nowrap;
		-webkit-user-select: none;
	}

	&.file-uploaded::before {
		content: "Change File";
		border-color: #919299;
		background-color: #919299;
		color: #fff;
	}
}

/* ADDONS DISPLAYED INLINE */

.product-addon[class*="color"] .form-row,
.product-addon[class*="number"] .form-row {
	display: inline-block;
}

/* ADDONS NUMBER SELECTION */

.product-addon[class*="number"] {
	&>span {
		display: none;
	}

	& .form-row {
		width: auto;
		display: inline-block;

		& input {
			width: 0;
			height: 0;
			margin: 0;
			display: none;
		}

		& input:checked+label {
			color: #FFF;
			border-color: #000;
			background-color: #919299;
		}

		& label {
			font-size: 2em;
			width: 2em;
			height: 2em;
			border: 1px solid #919299;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

/* ADDONS TEXT SIZE */

.product-addon[class*="text-size"] {
	&>span {
		display: none;
	}

	& .form-row {
		width: auto;
		display: inline-block;

		& input {
			width: 0;
			height: 0;
			margin: 0;
			display: none;
		}

		& input:checked+label {
			border-color: #000;
			background-color: #919299;

			&.small {
				background-image: url(../images/ico-a-white.png);
			}

			&.medium {
				background-image: url(../images/ico-b-white.png);
			}

			&.large {
				background-image: url(../images/ico-c-white.png);
			}

			&.extra-large {
				background-image: url(../images/ico-d-white.png);
			}
		}

		& label {
			font-size: 2em;
			width: 3.5em;
			height: 4.75em;
			border: 1px solid #919299;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url(../images/ico-a.png);
			background-repeat: no-repeat;
			background-position: center bottom .25em;
			overflow: hidden;
			text-indent: -100000px;

			&.small {
				background-image: url(../images/ico-a.png);
			}

			&.medium {
				background-image: url(../images/ico-b.png);
			}

			&.large {
				background-image: url(../images/ico-c.png);
			}

			&.extra-large {
				background-image: url(../images/ico-d.png);
			}
		}
	}
}

#product-4631 {
	& .product-addon {
		&>span {
			display: none;
		}
	}
}

/* ADDONS COLOR SWATCHES */

.product-addon[class*="color"] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;

	&>span {
		display: none;
	}

	& .form-row {
		margin: 0 !important;

		& input {
			width: 0;
			height: 0;
			margin: 0;
			display: none;
		}

		& input:checked~label::before,
		& label:hover::before {
			transform: scale(1.2);
		}

		& input:checked~label::after {
			content: "\2713";
			position: absolute;
			width: 25px;
			height: 25px;
			font-size: 25px;
			top: 8px;
			left: 13px;
		}

		& label {
			position: relative;
			margin: .5em;
			text-align: center;
			font-size: .75em;
			width: 50px;
			line-height: 1.15;

			&::before {
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				margin: 0 auto .5em auto;
				border: 1px solid #919299;
				background-color: #000;
			}

			&::after {
				color: #fff;
			}

			&[class="gold"]::after,
			&[class="neon-green"]::after,
			&[class="pink"]::after,
			&[class="white"]::after,
			&[class="yellow"]::after {
				color: #000
			}

			&[class="black"]::before {
				background-color: #000;
			}

			&[class="brown"]::before {
				background-color: #563702;
			}

			&[class="bubble-gum"]::before {
				background-color: #feccff;
			}

			&[class="cardinal"]::before {
				background-color: #A0312E;
			}

			&[class="dark-green"]::before {
				background-color: #2a6503;
			}

			&[class="forest"]::before {
				background-color: #2a6503;
			}

			&[class="gold"]::before {
				background-color: #f3d71a;
			}

			&[class="grey"]::before {
				background-color: #949494;
			}

			&[class="hot-pink"]::before {
				background-color: #fd57c4;
			}

			&[class="kelly-green"]::before {
				background-color: #24c60e;
			}

			&[class="maroon"]::before {
				background-color: #6d060f;
			}

			&[class="navy-blue"]::before {
				background-color: #072369;
			}

			&[class="neon-green"]::before {
				background-color: #7eff00;
			}

			&[class="neon-orange"]::before {
				background-color: #F47920;
			}

			&[class="neon-pink"]::before {
				background-color: #ff3cea;
			}

			&[class="neon-yellow"]::before {
				background-color: #D7DF23;
			}

			&[class="orange"]::before {
				background-color: #ff5918;
			}

			&[class="pink"]::before {
				background-color: #feccff;
			}

			&[class="purple"]::before {
				background-color: #660b90;
			}

			&[class="red"]::before {
				background-color: #ff0000;
			}

			&[class="royal-blue"]::before {
				background-color: #105fe1;
			}

			&[class="scarlet"]::before {
				background-color: #ff0000;
			}

			&[class="silver"]::before {
				background-color: #949494;
			}

			&[class="sky-blue"]::before {
				background-color: #58b9f1;
			}

			&[class="teal"]::before {
				background-color: teal;
			}

			&[class="texas-orange"]::before {
				background-color: #9C4529;
			}

			&[class="vegas-gold"]::before {
				background-color: #c2b757;
			}

			&[class="white"]::before {
				background-color: #fff;
			}

			&[class="yellow"]::before {
				background-color: #f6ff00;
			}
		}

		& input[type=checkbox][name*="color"]:checked+label {
			&::before {
				content: '';
				display: block;
				width: 40px;
				height: 40px;
				margin: 0 auto .5em auto;
				border: 1px solid #919299;
				background-color: #000;
				position: static;
			}

			&::after {
				color: #fff;
			}
		}

		& input[type=checkbox][name*="color"][value="gold"]+label::after,
		& input[type=checkbox][name*="color"][value="neon-green"]+label::after,
		& input[type=checkbox][name*="color"][value="pink"]+label::after,
		& input[type=checkbox][name*="color"][value="white"]+label::after,
		& input[type=checkbox][name*="color"][value="yellow"]+label::after {
			color: #000
		}

		& input[type=checkbox][name*="color"][value="black"]+label::before {
			background-color: #000;
		}

		& input[type=checkbox][name*="color"][value="brown"]+label::before {
			background-color: #563702;
		}

		& input[type=checkbox][name*="color"][value="bubble-gum"]+label::before {
			background-color: #feccff;
		}

		& input[type=checkbox][name*="color"][value="cardinal"]+label::before {
			background-color: #a0312e;
		}

		& input[type=checkbox][name*="color"][value="dark-green"]+label::before {
			background-color: #2a6503;
		}

		& input[type=checkbox][name*="color"][value="forest"]+label::before {
			background-color: #2a6503;
		}

		& input[type=checkbox][name*="color"][value="gold"]+label::before {
			background-color: #f3d71a;
		}

		& input[type=checkbox][name*="color"][value="grey"]+label::before {
			background-color: #949494;
		}

		& input[type=checkbox][name*="color"][value="hot-pink"]+label::before {
			background-color: #fd57c4;
		}

		& input[type=checkbox][name*="color"][value="kelly-green"]+label::before {
			background-color: #24c60e;
		}

		& input[type=checkbox][name*="color"][value="maroon"]+label::before {
			background-color: #6d060f;
		}

		& input[type=checkbox][name*="color"][value="navy-blue"]+label::before {
			background-color: #072369;
		}

		& input[type=checkbox][name*="color"][value="neon-green"]+label::before {
			background-color: #7eff00;
		}

		& input[type=checkbox][name*="color"][value="neon-orange"]+label::before {
			background-color: #f47920;
		}

		& input[type=checkbox][name*="color"][value="neon-pink"]+label::before {
			background-color: #ff3cea;
		}

		& input[type=checkbox][name*="color"][value="neon-yellow"]+label::before {
			background-color: #d7df23;
		}

		& input[type=checkbox][name*="color"][value="orange"]+label::before {
			background-color: #ff5918;
		}

		& input[type=checkbox][name*="color"][value="pink"]+label::before {
			background-color: #feccff;
		}

		& input[type=checkbox][name*="color"][value="purple"]+label::before {
			background-color: #660b90;
		}

		& input[type=checkbox][name*="color"][value="red"]+label::before {
			background-color: #ff0000;
		}

		& input[type=checkbox][name*="color"][value="royal-blue"]+label::before {
			background-color: #105fe1;
		}

		& input[type=checkbox][name*="color"][value="scarlet"]+label::before {
			background-color: #ff0000;
		}

		& input[type=checkbox][name*="color"][value="silver"]+label::before {
			background-color: #949494;
		}

		& input[type=checkbox][name*="color"][value="sky-blue"]+label::before {
			background-color: #58b9f1;
		}

		& input[type=checkbox][name*="color"][value="teal"]+label::before {
			background-color: teal;
		}

		& input[type=checkbox][name*="color"][value="texas-orange"]+label::before {
			background-color: #9c4529;
		}

		& input[type=checkbox][name*="color"][value="vegas-gold"]+label::before {
			background-color: #c2b757;
		}

		& input[type=checkbox][name*="color"][value="white"]+label::before {
			background-color: #fff;
		}

		& input[type=checkbox][name*="color"][value="yellow"]+label::before {
			background-color: #f6ff00;
		}

	}
}