.entry>.woocommerce {
	margin: 40px 0;
}

/* MARGIN BELOW HEADER */

.single-product #headerimg+.wrap {
	top: 50px;
	margin-bottom: 50px;
}

.product .summary a.back {
	color: #919299;
	position: absolute;
	top: -1.1em;
	left: 0;
}

/* REMOVE LIGHTBOX DESCRIPTION */

.pswp__caption {
	display: none;
}

/* THUMBNAIL GALLERY SPACING */

.woocommerce-product-gallery {
	opacity: 1 !important;
}

.woocommerce-product-gallery {
	width: 40%;
	float: left;
}

.woocommerce-product-gallery__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.woocommerce-product-gallery__image:first-child {
	width: 100%;
}

.woocommerce-product-gallery__image {
	width: 33%;
	padding: 4px;
}

.summary {
	width: 55%;
	float: left;
}

.review-widget {
	padding: 100px 0;
}

ul.wc-tabs {
	display: none;
}

/* ADDITIONAL WIDGET */
.trustpilot-widget {
	padding: 32px 0 48px 0;
}

/* SOCIAL SHARE SAVING DISPLAY */

.xc-social {
	& h2 {
		margin-bottom: 0;
	}

	& p {
		margin: 0;
	}

	& .xc-social-container-btn {
		margin: 10px 0 25px 0;
	}
}

/* ADD BORDER TO BUTTONS IN DESCRIPTION */

#tab-description .btn.noshadow {
	border: 1px solid #164c70;
	margin: 0 10px;
}

.product .summary .variations {
	margin-bottom: 0 !important;
}

.quantity .screen-reader-text {
	height: auto;
	position: relative !important;
}

.product button.single_add_to_cart_button {
	margin-top: 35px;
}

/* EXTRA HEADLINE */

.woocommerce-Tabs-panel>h2:first-child {
	display: none;
}

/* RELATED PRODUCTS */

section#related {
	& ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		& li {
			width: 20%;
			margin: 0 2%;

			& h2 {
				font-size: 1em;
				font-family: Avenir-Medium, sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				color: #444648;
			}
		}
	}
}

/* REQUEST A SAMPLE */

body.postid-4631.woocommerce .product {
	& .entry-content h2 {
		color: #919299;
		font-size: 2.25em
	}

	& .entry-content::after {
		display: none;
	}

	& .images,
	& .price,
	& .specbtn,
	& .specheading,
	& h1.product_title {
		display: none;
	}

	& .sockspecs {
		display: block !important
	}

	& .summary {
		margin: 0 auto;
		float: none;
		width: 100%;
		max-width: 650px;
	}

	& .addon-description {
		margin: -10px 0 25px 0;

		& p {
			margin: 0;
		}
	}

	& .review-widget {
		margin-top: 100px;

	}

	& .product-addon[class*="style"] {
		& .form-row {
			display: inline-block;
		}

		& input {
			width: 0;
			height: 0;
			margin: 0;
			display: none;
		}

		& input:checked+label {
			color: #FFF;
			border-color: #000;
			background-color: #919299;

			&.footie {
				background-image: url(../images/ico-footie-white.png);
			}

			&.anklet {
				background-image: url(../images/ico-anklet-white.png);
			}

			&.crew {
				background-image: url(../images/ico-crew-white.png);
			}

			&.knee-high {
				background-image: url(../images/ico-knee-white.png);
			}
		}

		& label {
			border: 1px solid #919299;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 125px;
			height: 150px;
			padding-bottom: 4px;
			background-repeat: no-repeat;
			background-position: center;

			&.footie {
				background-image: url(../images/ico-footie.png);
			}

			&.anklet {
				background-image: url(../images/ico-anklet.png);
			}

			&.crew {
				background-image: url(../images/ico-crew.png);
			}

			&.knee-high {
				background-image: url(../images/ico-knee.png);
			}
		}
	}

	& .product-addon[class*="size"] {
		& .form-row {
			display: inline-block;
		}

		& input {
			width: 0;
			height: 0;
			margin: 0;
			display: none;
		}

		& input:checked+label {
			color: #FFF;
			border-color: #000;
			background-color: #919299;
			background-image: url(../images/size-extralg-white.png);
		}

		& label {
			border: 1px solid #919299;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 125px;
			height: 150px;
			padding-bottom: 4px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/size-extralg.png);

			&.small {
				background-size: 30px;
			}

			&.medium {
				background-size: 40px;
			}

			&.large {
				background-size: 50px;
			}

			&.extra-large {
				background-size: 60px;
			}
		}
	}

	& .product-addon[class*="use"] {
		& .form-row {
			display: inline-block;
		}

		& input {
			width: 0;
			height: 0;
			margin: 0;
			display: none;
		}

		& input:checked+label {
			color: #FFF;
			border-color: #000;
			background-color: #919299;

			&.athletic {
				background-image: url(../images/athletic-white.png);
			}

			&.marketing {
				background-image: url(../images/promotional-white.png);
			}

			&.business {
				background-image: url(../images/corporate-white.png);
			}
		}

		& label {
			border: 1px solid #919299;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 125px;
			height: 150px;
			padding-bottom: 4px;
			background-repeat: no-repeat;
			background-position: center;

			&.athletic {
				background-image: url(../images/athletic.png);
			}

			&.marketing {
				background-image: url(../images/promotional.png);
			}

			&.business {
				background-image: url(../images/corporate.png);
			}
		}
	}
}

/* CART */

.shop_table.cart {
	margin-top: 50px !important;

	& .product-quantity .quantity {
		& label {
			display: none;
		}

		& input {
			margin: 0;
		}
	}

	& .button {
		padding: .5em 1.25em !important;
	}

	& .coupon .input-text {
		width: 200px !important;
	}
}

/* CHECKOUT */

.woocommerce-checkout form .form-row label {
	margin: 0;
}

.woocommerce-checkout .col2-set .col-1,
.woocommerce-checkout .col2-set .col-2 {
	width: 48%;
	margin: 0 1%;
	float: left;
}

.select2-container--default .select2-selection--single {
	padding: 10px;
	width: 100% !important;
	background: #eee;
	border: 1px solid #919299;
	float: left;
	margin-bottom: 0;
	position: relative;
	font-size: 1em;
	height: 3rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50%;
	transform: translateY(-50%);
}

.woocommerce-checkout form .form-row input.input-text {
	padding: 10px;
	width: 100% !important;
	background: #eee;
	border: 1px solid #919299;
	float: left;
	margin-bottom: 0;
	position: relative;
	font-size: 1em;
}

.woocommerce a.remove {
	height: 28px;
	width: 28px;
}

.form-row.form-row-wide.create-account label.checkbox {
	margin-top: 28px;
}

/* FEEFO */
.feefo-review-carousel-widget-service {
	text-align: center;
	margin: 64px auto;
}