/*----------------------------------------------------------------*\
	SOCK APPLICATION
\*----------------------------------------------------------------*/
body.page-template-application {
	& header {
		position: relative;
		padding: 96px 32px 250px 32px;
		background-size: cover;
		background-position: center;

		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			content: '';
			background-color: rgba(58, 59, 64, 0.5);
		}

		&>div {
			position: relative;
			z-index: 2;
			width: 100%;
			max-width: 1024px;
			margin: 0 auto;
		}

		& h1 {
			max-width: 750px;
			margin-top: 0;
			font-family: 'Muli Black';
			font-size: 64px;
			color: #fff;
			text-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.6);

			@media (max-width: 500px) {
				font-size: 32px;
			}
		}

		& p {
			max-width: 750px;
			margin-bottom: 0;
			font-family: 'Muli Bold';
			font-size: 22px;
			color: #fff;

			@media (max-width: 500px) {
				font-size: 18px;
			}
		}
	}

	& section.example-products {
		max-width: 1200px;
		margin: 0 auto;

		&:first-child {
			position: relative;
			z-index: 10;
			margin-top: -150px;

			& h2 {
				color: #fff;
			}
		}

		&:nth-last-child(2) {
			margin-top: 96px;
		}

		& h2 {
			margin-bottom: 0;
			font-family: 'Muli Bold';
			font-size: 22px;
			font-weight: normal;
			color: #000;
			text-align: center;
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			list-style: none;

			@media (max-width: 1050px) {
				justify-content: space-around;
				width: 90%;
				margin: 24px auto;
			}

			& li {
				position: relative;
				width: 200px;
				margin: 0 24px 0 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				min-height: 250px;
				padding: 16px;

				@media (max-width: 1050px) {
					margin: 0 0 24px 0;
				}

				&::after {
					z-index: 0;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: "";
					background-color: rgba(22, 76, 112, .65);
				}

				& h2 {
					position: relative;
					z-index: 2;
					margin: 0;
					font-size: 26px;
					color: #fff;
				}

				& img {
					width: 60px;
					height: 80px;
					margin: 12px auto;
					opacity: 1;
				}

				& .btn {
					display: inline-block;
					position: relative;
					padding: .75em 1.25em;
					font-size: 14px;
					font-family: Muli Black, sans-serif;
					text-transform: uppercase;
					text-decoration: none !important;
					background: #fff;
					border: 2px solid #8949a2;
					color: #8949a2;
					box-shadow: 8px 8px #8949a2;
					transition: all .15s linear;
					z-index: 2;
				}

				& a {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 3;

					&:hover,
					&:focus {
						&+.btn {
							background-color: #4d1b61;
							color: #fff;
						}
					}
				}

				&:last-child {
					background-color: #fbe141;
					padding: 16px 16px 24px 16px;

					&::after {
						display: none;
					}

					& h2 {
						color: #8949a2;
					}
				}
			}
		}
	}

	& section.testimonies {
		padding: 32px 32px 52px 32px;
		margin: 96px 0 0 0;
		background-image: url(../images/Sock-Pattern.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		& h2 {
			margin-top: 0;
			text-align: center;
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 1024px;
			padding: 0;
			margin: 0 auto;
			list-style: none;

			& li {
				display: flex;
				width: 48%;
				padding: 16px;
				background-color: #fff;

				@media (max-width: 500px) {
					width: 100%;
					margin: 0 0 24px 0;
				}

				& .icon {
					flex-shrink: 0;
					width: 48px;
					height: 48px;
					margin-right: 16px;
					background-image: url(../images/SockTestmonial-Green.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}

				&:nth-child(2n) .icon {
					background-image: url(../images/SockTestmonial-Purp.svg);
				}

				&:nth-child(3n) .icon {
					background-image: url(../images/SockTestmonial-Yellow.svg);
				}

				& p {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin: 0;

					& b {
						display: block;
						margin-top: 4px;
						text-transform: capitalize;
					}
				}
			}
		}
	}

	& section.content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		&:nth-child(odd) {
			&>div:first-child {
				order: 2;

				@media (max-width: 800px) {
					order: inherit;
				}
			}

			&>div:last-child {
				order: 1;
			}
		}

		&>div {
			width: 50%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;

			&:last-child {
				@media (max-width: 800px) {
					padding: 2em 0;
				}
			}

			@media (max-width: 800px) {
				width: 100%;
			}

			& img {
				object-fit: cover;
				height: 500px;
				width: 100%;

				@media (max-width: 800px) {
					height: 400px;
				}
			}

			& h2 {
				max-width: 600px;
				padding: 0 2rem;
				margin-top: 0;
			}

			& p {
				max-width: 600px;
				padding: 0 2rem;
			}
		}
	}

	& div.key-point-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 80%;
		max-width: 960px;
		margin: 64px auto;

		&>section {
			width: 48%;
			max-width: 400px;

			@media (max-width: 500px) {
				width: 100%;
				margin-bottom: 52px;
			}

			& img {
				display: block;
				object-fit: contain;
				object-position: center;
				width: 150px;
				height: 150px;
				margin: 0 auto;
			}

			& h2 {
				font-family: 'Muli Bold';
				font-size: 22px;
				font-weight: normal;
				color: #009bb0;
			}
		}
	}

	& section.image-qualities {
		padding: 0 24px;

		& h2 {
			margin-top: 0;
			text-align: center;
		}

		& .examples {
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 500px;
			margin: 0 auto;

			& img {
				width: 48%;
				max-width: 200px;
			}
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			max-width: 550px;
			padding: 0;
			margin: 16px auto;

			& li {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 48%;
				margin-bottom: 16px;

				@media (max-width: 500px) {
					justify-content: center;
					width: 100%;
				}

				& img {
					flex-shrink: 0;
					object-fit: contain;
					object-position: center;
					width: 40px;
					height: 40px;
					margin-right: 16px;
				}

				& p {
					margin: 0;
				}
			}
		}
	}

	& .clients {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
		max-width: 960px;
		padding: 0 32px;

		@media (max-width: 800px) {
			flex-wrap: wrap;
		}

		& h3 {
			width: 450px;
			font-family: Muli Bold, sans-serif;
			line-height: 60px;
			border-right: 2px solid #b6b6b6;

			@media (max-width: 800px) {
				width: 100%;
				text-align: center;
				border: none;
			}
		}

		& ul {
			display: flex;
			justify-content: space-between;
			width: 100%;
			list-style: none;

			@media (max-width: 800px) {
				padding: 0;
				margin: 0;
			}

			@media (max-width: 500px) {
				flex-wrap: wrap;
				justify-content: center;

				& li {
					width: 33%;
					margin-bottom: 14px;
					text-align: center;
				}
			}
		}
	}
}