/*----------------------------------------------------------------*\
	DESIGN YOUR OWN TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-design-your-own {
	& header {
		& section.headings {
			display: none;
			max-width: 95%;
			margin: 0 auto;
			text-align: center;

			&.is-active {
				display: block;
			}

			& h1 {
				max-width: 800px;
				margin: 0 auto;
				font-size: 32px;
			}

			& p {
				max-width: 800px;
				margin: 12px auto 0 auto;
			}

			& button {
				display: inline-block;
				z-index: 2;
				position: relative;
				padding: .75em 1.25em;
				border: 2px solid #009bb0;
				color: #009bb0;
				font-size: 14px;
				font-family: Muli Black, sans-serif;
				text-decoration: none !important;
				text-transform: uppercase;
				cursor: pointer;
				background: #fff;
				box-shadow: 8px 8px #009bb0;
				transition: all .15s linear;
				margin: 24px 0 0 0;

				&:hover,
				&:focus {
					background-color: #004c73;
					color: #fff;
					outline: none;
				}
			}
		}
	}

	& main>article {
		& section.options {
			display: none;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-gap: 32px;
			width: 95%;
			max-width: 1200px;
			margin: 48px auto 72px auto;

			@media (max-width: 800px) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width: 500px) {
				grid-template-columns: 1fr;
			}

			&.style-dress {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

				@media (max-width: 800px) {
					grid-template-columns: 1fr 1fr;
				}

				@media (max-width: 500px) {
					grid-template-columns: 1fr;
				}
			}

			&.is-active {
				display: grid;
			}

			&.style-athletic .option,
			&.style-standard .option,
			&.style-dress .option {
				color: #3a3b40;

				&:hover,
				&:focus {
					& .label {
						background-color: #004c73;
					}

					& img {
						opacity: 1;
					}
				}

				& .label {
					height: 250px;
					padding: 16px;
					background-color: #009bb0;

					&::after {
						display: none;
					}

					& h2 {
						display: flex;
						align-items: center;
						min-height: 50px;
						margin-bottom: 0;
						font-size: 20px;
						text-transform: uppercase;
					}
				}
			}

			& .option {
				text-align: center;

				& .label {
					display: flex;
					position: relative;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					height: 40vh;
					min-height: 325px;
					max-height: 400px;
					padding: 64px 16px;
					background-position: 50%;
					background-size: cover;
					transition: all 0.15s linear;

					&::after {
						z-index: 0;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						content: '';
						background-color: rgba(22, 76, 112, 0.35);
					}

					& img {
						opacity: 0.8;
						width: 100%;
						height: 150px;
						object-fit: contain;
						object-position: center;
						transition: all 0.15s linear;
					}

					& svg {
						flex-shrink: 0;
						box-sizing: initial;
						margin: 0 0 24px 0;

						& * {
							box-sizing: initial;
						}
					}

					& h2 {
						z-index: 2;
						position: relative;
						margin-bottom: 48px;
						color: #fff;

						& span {
							display: block;
							margin-top: 4px;
							font-weight: 400;
							font-size: 18px;
							font-family: Muli, sans-serif;
						}
					}

					& a.btn,
					& button {
						display: inline-block;
						z-index: 2;
						position: relative;
						padding: 0.75em 1.25em;
						border: 2px solid #8949a2;
						color: #8949a2;
						font-size: 14px;
						font-family: Muli Black, sans-serif;
						text-decoration: none !important;
						text-transform: uppercase;
						cursor: pointer;
						background: #fff;
						box-shadow: 8px 8px #8949a2;
						transition: all 0.15s linear;

						&:hover,
						&:focus {
							color: #fff;
							background-color: #4d1b61;
							outline: none;
						}
					}
				}

				& .description p {
					font-size: 14px;
					text-align: left;
				}

				&.support {
					& .label {
						padding: 32px 16px 64px 16px;
						background-image: url('../images/support_option_bg.png');

						&::after {
							display: none;
						}
					}

					& h2 {
						margin: 0 0 16px 0;
						color: #8949a2;
						font-size: 24px;
					}
				}
			}
		}
	}

	& .featherlight-content {
		padding: 0 16px;
		border: 0;
		overflow: visible;

		&>img {
			width: auto !important;
			height: auto !important;
			max-width: 100% !important;
		}

		& .featherlight-close {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #8949a2;
			color: #ffffff;
			width: auto;
			height: auto;
			padding: 4px 16px;
			font-size: 16px;
			transform: translateY(-100%);
			margin-right: 16px;

			&:after {
				content: 'Close';
				display: block;
				order: -1;
				margin-right: 8px;
			}

			&:hover,
			&:focus {
				outline: none;
				background-color: #4d1b61;
			}
		}
	}
}

section.step-numbers {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	max-width: 600px;
	margin: 80px auto 64px auto;

	&>div {
		display: flex;
		opacity: 0.5;
		position: relative;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border: 4px solid #009bb0;
		border-radius: 50%;
		color: #009bb0;
		font-weight: bold;
		text-align: center;
		background-color: transparent;

		& .count {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			border: none;
			color: #009bb0;
			background: transparent;

			-webkit-appearance: none;
			-moz-appearance: none;

			& span {
				display: block;
			}

			& svg {
				display: none;
				width: 24px;
				height: 24px;
				fill: #fff;
			}
		}

		& .label {
			display: none;
			position: absolute;
			top: calc(100% + 8px);
			color: #3a3b40;
		}

		&::before {
			display: block;
			opacity: 0.5;
			z-index: -1;
			position: absolute;
			top: calc(50% - 1px);
			right: 100%;
			width: calc(45vw - 56px);
			max-width: calc(300px - 56px);
			height: 2px;
			content: "";
			background-color: #009bb0;
		}

		&.is-active {
			opacity: 1;
			color: #fff;
			background-color: #009bb0;

			&::before {
				opacity: 1;
			}

			& .count {
				color: #fff;
			}

			& .label {
				display: block;
			}
		}

		&.is-complete {
			opacity: 1;
			color: #fff;
			background-color: #009bb0;

			&::before {
				opacity: 1;
			}

			& .count {
				color: #fff;

				& span {
					display: none;
				}

				& svg {
					display: block;
				}
			}

			& .label {
				display: block;
				opacity: 0.35;
			}
		}

		&.step-one::before {
			display: none;
		}
	}
}