/*----------------------------------------------------------------*\
	DRESS PAGE TEMPLATE
	sections are reused on other templates, so take caution when 
	deleting any css from file
\*----------------------------------------------------------------*/
body.page-template-page-dress-socks header {
	display: flex;
	flex-wrap: wrap;

	&>div {
		width: 50%;
		padding: 64px 100px;
		color: #fff;
		background-image: url(../images/stitched-bg-teal.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: 800px) {
			width: 100%;
			min-height: 400px;
		}

		@media (max-width: 500px) {
			padding: 24px;
		}

		& h1 {
			max-width: 350px;
			margin-top: 0;
			font-size: 30px;

			@media (max-width: 800px) {
				max-width: 100%;
			}
		}

		& ul {
			padding: 0;
			margin: 2.5em 0 0 0;
			list-style: none;

			& li {
				position: relative;
				padding-left: 1em;
				margin-bottom: 0.5em;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					color: #fbe141;
					content: '•';
				}
			}
		}
	}
}

body.page-template-page-dress-socks section.start-blank {
	background-color: #f5f5f5;
	background-image: none;

	& h2 {
		color: #000;
	}

	& .template {
		padding: 0;
		color: #000;
		background: transparent;

		& img {
			margin-bottom: 0.5em;
		}
	}
}

section.bulk-pricing {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width: 90%;
	max-width: 1024px;
	margin: 64px auto;

	&>h2 {
		width: 100%;
		margin: 0;
		text-align: center;
	}

	& p {
		width: 100%;
		margin-bottom: 50px;
		text-align: center;
	}

	&>div {
		width: 50%;

		@media (max-width: 500px) {
			width: 100%;
			margin-bottom: 40px;
		}

		& ul {
			max-width: 350px;
			padding: 0;
			margin: 0;
			column-count: 2;
			list-style: none;

			& button {
				width: 100%;
				padding: 1em 1em;
				font-family: 'Muli Bold', sans-serif;
				font-size: 18px;
				color: #8949a2;
				cursor: pointer;
				background: transparent;
				border: none;

				& span {
					display: block;
					margin-top: 4px;
					font-family: 'Muli', sans-serif;
					font-size: 14px;
					color: #000;
				}

				&:hover,
				&:focus {
					background: #f5f5f5;
				}
			}
		}

		& h3 {
			position: relative;
			z-index: 2;
			margin: 0;
			color: #8949a2;
			text-align: center;
		}

		&>div {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 40px 40px 40px 0;

			& img {
				transition: opacity 0.35s linear;
			}

			& img:nth-child(2) {
				position: absolute;
				top: 0;
				left: -40px;
				opacity: 0;
				transform: rotate(-50deg);
			}

			& img:nth-child(3) {
				position: absolute;
				right: -40px;
				bottom: -40px;
				opacity: 0;
				transform: rotate(50deg);
			}

			& img:nth-child(4) {
				position: absolute;
				top: -25px;
				right: -10px;
				opacity: 0;
				transform: rotate(70deg);
			}

			& img:nth-child(5) {
				position: absolute;
				bottom: -55px;
				left: 20px;
				opacity: 0;
				transform: rotate(15deg);
			}

			& img:nth-child(6) {
				position: absolute;
				top: -55px;
				left: -50px;
				opacity: 0;
				transform: rotate(15deg);
			}

			& img:nth-child(7) {
				position: absolute;
				top: -55px;
				left: 100px;
				opacity: 0;
				transform: rotate(60deg);
			}

			& img:nth-child(8) {
				position: absolute;
				bottom: -15px;
				left: -80px;
				opacity: 0;
				transform: rotate(60deg);
			}
		}
	}
}

body.page-template-page-dress-socks section.cta-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 32px 0;
	background-image: url(../images/stitched-bg-purple.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&.yellow {
		background-image: url(../images/stitched-bg-yellow.jpg);

		&>div h2 {
			color: #000;
		}
	}

	&>div {
		width: 600px;
		max-width: 85%;
		text-align: center;

		& *:first-child {
			margin-top: 0;
		}

		& h2,
		& p {
			color: #fff;
		}
	}
}

section.sock-proof {
	display: flex;
	flex-wrap: wrap;
	margin: 64px 0;

	&>div {
		width: 50%;
		padding: 64px;
		color: #fff;
		background-image: url(../images/stitched-bg-teal.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: 800px) {
			width: 100%;
			min-height: 400px;
		}

		@media (max-width: 500px) {
			padding: 24px;
		}

		&>* {
			max-width: 500px;
		}

		& h2,
		& h3,
		& p {
			margin-top: 0;
			color: #fff;
		}
	}
}

body.page-template-page-dress-socks section.intro {
	margin: 64px auto;
}

/* DRESS SOCK SPECIAL */
section.special {
	width: 100%;
	max-width: 800px;
	padding: 40px 16px;
	margin: 16px auto 32px auto;
	text-align: center;
	background-image: url(../images/stitched-bg-yellow.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	& h3 {
		margin: 0;
		font-weight: normal;

		& b {
			text-decoration: underline;
		}
	}
}

body.page-template-page-dress-socks section.bulk-pricing {
	&>p {
		margin-bottom: 0;
	}

	&>div {
		margin-top: 32px;
	}
}

body.single-product {
	& section.special {
		margin: 48px auto 16px auto;
	}

	& .woo_discount_rules_table {
		display: none;
	}
}

.woocommerce span.onsale {
	display: none;
}

body.page-id-5 {
	& section#headerimg {
		float: none;
	}

	& section.special {
		width: 90vw;
		max-width: 1000px;
		margin: 32px auto 0 auto;

		@media (max-width: 500px) {
			& h3 {
				font-size: 16px;

				& b {
					display: inline-block;
					font-size: 18px;
					vertical-align: middle;
				}
			}
		}
	}
}