/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
	sections are reused on other templates, so take caution when 
	deleting any css from file
\*----------------------------------------------------------------*/
header.front-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 1050px) {
		margin-bottom: 40px;
	}

	&.notification-on {
		margin-top: 34px;

		@media (max-width: 1140px) {
			margin-top: 52px;
		}

		@media (max-width: 600px) {
			margin-top: 70px;
		}

		@media (max-width: 400px) {
			margin-top: 88px;
		}
	}

	&.single-image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 600px;

		&>div {
			max-width: 500px;
			width: 90%;
			margin: 0 auto;

			& h1 {
				color: #fff;
				font-size: 42px;
				margin: 0;
			}

			& p {
				color: #fff;
			}
		}
	}

	& .sock {
		width: 12.5%;
		padding: 8px;

		@media (max-width: 500px) {
			width: 25%;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(8),
			&:nth-child(13),
			&:nth-child(23) {
				display: none;
			}
		}

		@media (max-width: 800px) {
			&:nth-child(19) {
				display: none;
			}
		}

		@media (max-width: 1050px) {
			&:nth-child(20) {
				display: none;
			}
		}

		& img {
			display: block;
		}

		&.title {
			width: 37.5%;
			text-align: center;

			@media (max-width: 500px) {
				width: 100% !important;
			}

			@media (max-width: 800px) and (orientation: portrait) {
				width: 62.5%;
			}

			@media (max-width: 1050px) {
				width: 50%;
			}

			& h1 {
				margin-top: 0;

				@media (max-width: 800px) and (orientation: portrait) {
					font-family: Muli Bold, sans-serif;
					font-size: 20px;
				}

				@media (max-width: 1200px) {
					font-size: 22px;
				}
			}
		}
	}
}

section.intro {
	display: flex;
	width: 1024px;
	max-width: 90%;
	margin: 50px auto 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	& .video,
	& .text-content {
		width: 48%;

		@media (max-width: 800px) {
			width: 100%;
		}

		& h2 {
			margin-top: 0;
		}

		& iframe {
			width: 100%;
			height: 300px;

			@media (max-width: 500px) {
				height: 200px;
			}
		}
	}

	& .clients {
		display: flex;
		align-items: center;
		width: 100%;

		@media (max-width: 800px) {
			flex-wrap: wrap;
		}

		& h3 {
			border-right: 2px solid #B6B6B6;
			font-family: Muli Bold, sans-serif;
			width: 450px;
			line-height: 60px;

			@media (max-width: 800px) {
				width: 100%;
				border: none;
				text-align: center;
			}
		}

		& ul {
			display: flex;
			list-style: none;
			width: 100%;
			justify-content: space-between;

			@media (max-width: 800px) {
				margin: 0;
				padding: 0;
			}

			@media (max-width: 500px) {
				flex-wrap: wrap;
				justify-content: center;

				& li {
					width: 33%;
					margin-bottom: 14px;
					text-align: center;
				}
			}
		}
	}
}

section.key-point-columns {
	position: relative;
	width: 100%;
	padding: 64px 40px;
	margin: 48px 0;
	background-color: #F5F5F5;

	&:before {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		content: "";
		height: 2px;
		background-image: linear-gradient(90deg, #009BB0, #009BB0 60%, transparent 60%, transparent 100%);
		background-size: 20px 1px;
		border: none;
		top: 32px;
	}

	&:after {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		content: "";
		height: 2px;
		background-image: linear-gradient(90deg, #009BB0, #009BB0 60%, transparent 60%, transparent 100%);
		background-size: 20px 1px;
		border: none;
		bottom: 32px;
	}

	& h2 {
		text-align: center;
		margin: 0 0 48px 0;
	}

	& .key-points {
		max-width: 1200px;
		margin: 0 auto;
		grid-gap: 48px;
		display: grid;
		grid-template-columns: repeat(3, minmax(100px, 1fr));

		@media (max-width: 800px) {
			grid-template-columns: repeat(1, 1fr);
		}

		& .key-point {
			& h3 {
				margin-top: 0;
				color: #8949A2;
				font-family: Muli Bold, sans-serif;

				@media (max-width: 1050px) {
					font-size: 20px;
				}
			}
		}
	}

	& .actions {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 48px 0 16px;

		& .btn {
			margin-top: 0;
			text-align: center;
		}
	}
}

section.shop-style {
	display: flex;
	width: 1200px;
	max-width: 90%;
	margin: 48px auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	& h2 {
		text-align: center;
		width: 100%;
		margin-bottom: 0px;

		& span {
			color: #8949A2;
			font-size: 22px;
			font-family: Muli, sans-serif;
			text-align: center;
			display: block;
			margin: 32px 0 0 0;
		}
	}

	&>p {
		text-align: center;
		max-width: 650px;
		margin: .5em auto 2em auto;
	}

	& button {
		display: block;
		z-index: 2;
		position: relative;
		padding: .75em 1.25em;
		border: 2px solid #009bb0;
		color: #009bb0;
		font-size: 14px;
		font-family: Muli Black, sans-serif;
		text-decoration: none !important;
		text-transform: uppercase;
		cursor: pointer;
		background: #fff;
		box-shadow: 8px 8px #009bb0;
		transition: all .15s linear;
		margin: 24px auto;

		&:hover,
		&:focus {
			background-color: #004c73;
			color: #fff;
			outline: none;
		}
	}

	& .styles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& .style {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 28%;
			margin: 0 auto 48px auto;

			@media (max-width: 500px) {
				width: 100%;
			}

			@media (max-width: 800px) {
				width: 80%;
			}

			& img {
				border-radius: 50%;
				width: 200px;
				height: 200px;
				margin: 0 auto;

				@media (max-width: 500px) {
					width: 150px;
					height: 150px;
				}
			}

			& h3 {
				color: #009BB0;
				font-size: 22px;
				font-family: Muli, sans-serif;
				margin-bottom: 0;
			}

			& p {
				text-align: left;
				flex-grow: 1;
			}
		}
	}

	& .featured-style {
		width: 100%;
		margin: 2em auto;
		background-color: #8949A2;
		background-image: url(../images/SockFundraiser_BG.png);
		background-size: cover;
		background-position: center;
		color: #fff;
		padding: 2em 2em 2.5em 2em;
		text-align: center;

		& h3 {
			margin: 0;
		}

		& p {
			max-width: 600px;
			margin: 1em auto 2em auto;
		}
	}
}

body.home .featherlight-content {
	padding: 0 16px;
	border: 0;
	overflow: visible;

	&>img {
		width: auto !important;
		height: auto !important;
		max-width: 100% !important;
	}

	& .featherlight-close {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #8949a2;
		color: #ffffff;
		width: auto;
		height: auto;
		padding: 4px 16px;
		font-size: 16px;
		transform: translateY(-100%);
		margin-right: 16px;

		&:after {
			content: 'Close';
			display: block;
			order: -1;
			margin-right: 8px;
		}

		&:hover,
		&:focus {
			outline: none;
			background-color: #4d1b61;
		}
	}
}

section.start-blank {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/stitched-bg-teal.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #009BB0;
	padding: 64px 0;

	&>div {
		width: 960px;
		max-width: 90%;

		& h2 {
			max-width: 600px;
			margin: 0 auto .35em auto;
			color: #fff;
			text-align: center;
		}

		& p {
			max-width: 450px;
			margin: 0 auto;
			color: #fff;
			text-align: center;
		}

		& .templates {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 48px;
		}

		& .template {
			background-color: #24B1C4;
			padding: 1em;
			width: 18%;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			font-family: 'Muli Black', sans-serif;

			@media (max-width: 500px) {
				width: 48%;
				margin-bottom: 10px;
			}

			& svg {
				width: 75px;
				display: block;
				margin: 0 auto 1em auto;

				& path {
					transition: all .35s linear;
				}
			}

			&:hover,
			&:focus {
				& svg path {
					fill: #fff;
				}
			}
		}
	}
}

section.clients {
	display: flex;
	width: 1200px;
	max-width: 90%;
	margin: 64px auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	& h2 {
		margin: 0 0 .5em 0;
	}

	& .client {
		display: flex;
		width: 24%;
		margin-bottom: 16px;
		background-color: #F5F5F5;
		min-height: 175px;
		justify-content: center;
		align-items: center;

		@media (max-width: 800px) {
			width: 49%;
		}

		&.intro {
			display: block;
			background-color: transparent;

			@media (max-width: 500px) {
				width: 100%;
			}
		}
	}
}

body.home section.cta-banner {
	display: flex;
	background-image: url(../images/side-promo.jpg);
	background-size: cover;
	background-position: center left;
	background-repeat: no-repeat;
	background-color: #f5d83d;
	justify-content: center;
	align-items: center;
	padding: 100px 64px;

	@media (max-width: 500px) {
		padding: 24px;
	}

	@media (max-width: 800px) and (orientation: portrait) {
		background-image: none;
		justify-content: center;
	}

	@media (max-width: 1050px) {
		justify-content: flex-end;
	}

	&>div {
		width: 600px;
		max-width: 85%;
		text-align: center;

		@media (max-width: 500px) {
			text-align: left !important;
		}

		@media (max-width: 800px) and (orientation: portrait) {
			text-align: center;
		}

		@media (max-width: 1050px) {
			text-align: right;
			width: 500px;
		}

		& p:last-of-type {
			margin-top: 32px;
		}
	}
}

section.column-content {
	display: flex;
	width: 1024px;
	max-width: 90%;
	margin: 62px auto 100px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	& .column {
		width: 48%;

		@media (max-width: 500px) {
			width: 100%;
		}
	}
}

section.sock-highlight {
	position: relative;
	background-color: #F5F5F5;

	& .info {
		position: relative;
		width: 100%;
		background-color: #F5F5F5;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			left: 0;
			content: "";
			height: 2px;
			background-image: linear-gradient(90deg, #009bb0, #009bb0 60%, transparent 0, transparent);
			background-size: 20px 1px;
			border: none;
		}

		& span.month {
			position: absolute;
			top: -40px;
			left: 50%;
			font-size: 22px;
			font-family: 'Muli Black', sans-serif;
			text-transform: uppercase;
			color: #009BB0;
			background-color: #fff;
			border: 8px solid #F5F5F5;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& span.label {
			font-size: 22px;
			text-transform: uppercase;
			font-family: 'Muli Black', sans-serif;
			color: #8949A2;
			padding: 1.5em;
			background-color: #F5F5F5;
			display: table;
			margin: 0 auto;
			position: relative;
			top: 45px;
			z-index: 2;

			@media (max-width: 500px) {
				padding: 1.5em .5em;
			}
		}
	}

	& .sock {
		width: 960px;
		max-width: 90%;
		margin: 50px auto 0 auto;
		padding-bottom: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		position: relative;

		@media (max-width: 500px) {
			flex-wrap: wrap;
		}

		& .text-content,
		& .image {
			width: 48%;

			@media (max-width: 500px) {
				width: 100%;
				margin: 0 0 24px 0;
			}

			& h2 {
				margin-top: 0;
			}
		}
	}
}

body.home .feefo-review-carousel-widget-service {
	text-align: center;
	margin: 0 auto 64px auto;
}