/*----------------------------------------------------------------*\
	FUNDRAISER TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-page-fundraiser {
	& section#headerimg {
		&.notification-on {
			margin-top: 34px;

			@media (max-width: 1140px) {
				margin-top: 52px;
			}

			@media (max-width: 600px) {
				margin-top: 70px;
			}

			@media (max-width: 400px) {
				margin-top: 88px;
			}
		}

		& .headingcontainer {
			max-width: 800px;

			& p {
				font-size: 20px;
				color: #fff;
				text-shadow: 0 2px 3px rgba(0, 0, 0, .6);

				@media (max-width: 600px) {
					font-size: 18px;
				}

				&.disabled {
					display: none;
				}
			}
		}
	}

	& .wrap {
		& section#fullwidth {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 4em 0;

			&>div {
				width: 45%;

				@media (max-width: 800px) {
					width: 100%;
				}

				&.product {
					& h3 {
						margin-bottom: 0;
					}

					& .product-gallery {
						& ul {
							display: flex;
							flex-wrap: wrap;
							justify-content: space-around;
							margin: 0 0 1em 0;
							padding: 0;
							list-style: none;

							& li {
								width: calc(33% - 1em);
								margin-top: 0;
								list-style: none;

								&:first-of-type {
									width: 100%;
									margin-bottom: 1em;

									& img {
										width: 100%;
									}
								}

								& img {
									border: none;
								}
							}

							& br {
								display: none;
							}
						}
					}
				}

				&.summary {
					text-align: center;

					& .gform_wrapper {
						&.disabled {
							display: none;
						}

						& li.gfield_html {
							padding: 1px 0;

							& h3 {
								margin: 32px 0 0 0;
							}
						}

						& li.gfield_price {
							& .ginput_container {

								& span.ginput_product_price_label,
								& span.ginput_product_price,
								& span.ginput_quantity_label {
									display: none;
								}

								& span.ginput_total {
									font-size: 22px;
									font-weight: 700;
								}
							}
						}
					}

					&>p {
						font-weight: bold;
						text-transform: uppercase;
					}

					&>h4 {
						font-weight: bold;
						text-transform: uppercase;
						font-size: 22px;
						margin-bottom: 0;
					}

					&>h3 {
						margin-top: 0;
						font-size: 28px;
					}

					& .counter {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						&>div {
							width: 25%;

							& p {
								font-size: 16px;
								text-transform: uppercase;
								margin: 0;

								& span {
									font-size: 40px;
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}