/*----------------------------------------------------------------*\
	HOME TEMPLATE
	sections are reused on other templates, so take caution when 
	deleting any css from file
\*----------------------------------------------------------------*/
body.page-template-page-home .notification {
	background-color: #009bb0;
	color: #fff;
	text-align: center;
	padding: 12px 16px;
}

body.page-template-page-home .notification a {
	color: #8949a2;
	background-color: #fff;
	padding: 2px 6px;
	margin: 0 4px;
}

body.page-template-page-home .notification a:focus,
body.page-template-page-home .notification a:hover {
	background-color: #8949a2;
	color: #fff;
}

body.page-template-page-home header.holiday {
	background-color: #45C0A3;
	position: relative;
	overflow: hidden;
}

body.page-template-page-home header.holiday:before {
	content: '';
	position: absolute;
	top: -40px;
	background-image: url('https://www.customsockshop.com/wp-content/themes/customsockshop/dist/images/holiday-lights.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 180px;
	z-index: 0;
}

body.page-template-page-home header.holiday:after {
	content: '';
	position: absolute;
	bottom: -40px;
	background-image: url('https://www.customsockshop.com/wp-content/themes/customsockshop/dist/images/holiday-lights.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 180px;
	z-index: 0;
}

body.page-template-page-home header.holiday .hero-wrap {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 100px 1rem;
}

@media (max-width: 800px) {
	body.page-template-page-home header.holiday .hero-wrap {
		grid-template-columns: 1fr;
	}
}

body.page-template-page-home header.holiday .contents {
	text-align: left;
	position: relative;
	z-index: 2;
}

@media (max-width: 800px) {
	body.page-template-page-home header.holiday .contents {
		text-align: center;
	}
}

body.page-template-page-home header.holiday .contents h1 {
	font-size: 54px;
	color: #fff;
	line-height: 1;
	max-width: 100%;
}

@media (max-width: 800px) {
	body.page-template-page-home header.holiday .contents h1 {
		font-size: 36px;
	}
}

body.page-template-page-home header.holiday .contents h1 span {
	color: #000;
}

body.page-template-page-home header.holiday .contents .btn {
	display: inline-block;
	margin-right: 1rem;
	font-weight: 800;
}

body.page-template-page-home header.holiday .contents .special {
	display: inline-block;
	color: #fff;
	font-size: 22px;
	transform: translateY(5px);
}

body.page-template-page-home header.holiday .contents .special span {
	color: #000;
	font-weight: 800;
}

body.page-template-page-home header.holiday .contents .disclaimer {
	font-size: 14px;
}

body.page-template-page-home header.holiday .hero-image img {
	position: relative;
	z-index: 2;
}

body.page-template-page-home header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body.page-template-page-home header ul li {
	list-style: none;
}

body.page-template-page-home header ul li img {
	width: 200px;
	height: 200px;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

@media (max-width: 600px) {
	body.page-template-page-home header ul li img {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 400px) {
	body.page-template-page-home header ul li img {
		width: 100px;
		height: 100px;
	}
}

body.page-template-page-home header .contents {
	text-align: center;
	max-width: 750px;
	margin: 48px auto;
}

@media (max-width: 600px) {
	body.page-template-page-home header .contents {
		margin: 32px auto;
	}
}

@media (max-width: 400px) {
	body.page-template-page-home header .contents {
		margin: 24px auto;
	}
}

body.page-template-page-home header .contents h1 {
	max-width: 90%;
	margin: 0 auto;
	font-size: 3rem;
}

@media (max-width: 600px) {
	body.page-template-page-home header .contents h1 {
		font-size: 1.75em;
	}
}

@media (max-width: 400px) {
	body.page-template-page-home header .contents h1 {
		font-size: 1.5rem;
	}
}

body.page-template-page-home header .contents .stats {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 12px;
	margin: 16px 0;
}

body.page-template-page-home header .contents .stats>div {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 8px;
}

@media (max-width: 400px) {
	body.page-template-page-home header .contents .stats>div {
		grid-template-columns: 1fr;
	}
}

body.page-template-page-home header .contents .stats>div img {
	width: 30px;
	height: 20px;
	object-fit: contain;
	object-position: center right;
}

body.page-template-page-home header .contents .stats>div p {
	text-align: left;
	margin: 0;
}

@media (max-width: 400px) {
	body.page-template-page-home header .contents .stats>div p {
		text-align: center;
	}
}

body.page-template-page-home header .contents .stats>div p b {
	color: #009bb0;
}

body.page-template-page-home header .contents .btn {
	margin-top: 24px;
}

body.page-template-page-home section.intro {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 48px;
	align-items: flex-start;
	margin-bottom: 80px;
}

@media (max-width: 800px) {
	body.page-template-page-home section.intro {
		grid-template-columns: 1fr;
	}
}

body.page-template-page-home section.intro>div:first-child {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

body.page-template-page-home section.intro>div:first-child iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

body.page-template-page-home section.intro>div> :first-child {
	margin-top: 0;
}

body.page-template-page-home section.intro>div> :last-child {
	margin-bottom: 0;
}

body.page-template-page-home section.social-proof .key-clients {
	margin: 0 auto;
	width: 1024px;
	max-width: 90%;
	margin-bottom: 56px;
}

body.page-template-page-home section.social-proof .key-clients h3 {
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0 0 24px 0;
	font-family: Muli Black, sans-serif;
}

body.page-template-page-home section.social-proof .key-clients ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 24px 16px;
}

body.page-template-page-home section.social-proof .key-clients ul li {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

body.page-template-page-home section.social-proof .key-clients ul li img {
	width: 100%;
	height: auto;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

@media (max-width: 800px) {
	body.page-template-page-home section.social-proof .key-clients ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 600px) {
	body.page-template-page-home section.social-proof .key-clients ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

body.page-template-page-home section.social-proof .feefo-review-carousel-widget-service {
	margin-top: 0;
}

body.page-template-page-home section.seasonal-cta {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 64px 48px;
	align-items: flex-start;
	margin: 0 auto;
	width: 1024px;
	max-width: 90%;
}

@media (max-width: 800px) {
	body.page-template-page-home section.seasonal-cta {
		grid-template-columns: 1fr;
	}
}

body.page-template-page-home section.seasonal-cta h2 {
	grid-column: 1/-1;
	text-align: center;
	margin: 0;
}

body.page-template-page-home section.seasonal-cta>div {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 16px;
	align-items: top;
}

body.page-template-page-home section.seasonal-cta>div img {
	margin-top: 6px;
}

@media (max-width: 800px) {
	body.page-template-page-home section.seasonal-cta>div {
		grid-gap: 24px;
	}
}

@media (max-width: 500px) {
	body.page-template-page-home section.seasonal-cta>div {
		grid-template-columns: 1fr;
	}

	body.page-template-page-home section.seasonal-cta>div img {
		width: 100%;
		max-width: 150px;
		margin: 0 auto;
	}
}

body.page-template-page-home section.seasonal-cta>div>div> :first-child {
	margin-top: 0;
}

body.page-template-page-home section.seasonal-cta>div>div> :last-child {
	margin-bottom: 0;
}

body.page-template-page-home section.seasonal-cta>div>div h3 {
	margin: 0;
}

body.page-template-page-home section.seasonal-cta>div>div p {
	margin: 8px 0;
}

body.page-template-page-home section.seasonal-cta>div>div .btn {
	margin-top: 16px;
}

body.page-template-page-home section.secondary-actions {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 64px 48px;
	margin: 120px auto;
	width: 1200px;
	max-width: 90%;
}

@media (max-width: 800px) {
	body.page-template-page-home section.secondary-actions {
		grid-template-columns: 1fr;
	}
}

body.page-template-page-home section.secondary-actions>div {
	background-color: #009bb0;
	padding: 16px 16px 24px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

body.page-template-page-home section.secondary-actions>div> :first-child {
	margin-top: 0;
}

body.page-template-page-home section.secondary-actions>div> :last-child {
	margin-bottom: 0;
}

body.page-template-page-home section.secondary-actions>div h2 {
	margin: 0;
	color: #fff;
}

body.page-template-page-home section.secondary-actions>div p {
	margin: 8px 0;
	flex-grow: 1;
}

body.page-template-page-home section.secondary-actions>div .btn {
	margin-top: 24px;
}

body.page-template-page-home section.common-questions {
	background-color: #f5f5f5;
	padding: 80px 40px;
	position: relative;
}

body.page-template-page-home section.common-questions:after,
body.page-template-page-home section.common-questions:before {
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	content: "";
	height: 2px;
	background-image: linear-gradient(90deg, #009bb0, #009bb0 60%, transparent 0, transparent);
	background-size: 20px 1px;
	border: none;
}

body.page-template-page-home section.common-questions:before {
	top: 32px;
}

body.page-template-page-home section.common-questions:after {
	bottom: 32px;
}

body.page-template-page-home section.common-questions>div {
	max-width: 1024px;
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
	grid-gap: 24px;
	margin: 0 auto;
}

@media (max-width: 800px) {
	body.page-template-page-home section.common-questions>div {
		grid-template-columns: 1fr;
	}
}

body.page-template-page-home section.common-questions>div h2 {
	grid-column: 1/-1;
	text-align: center;
	margin: 0 0 24px;
}

body.page-template-page-home section.common-questions>div>div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

body.page-template-page-home section.common-questions>div>div> :first-child {
	margin-top: 0;
}

body.page-template-page-home section.common-questions>div>div> :last-child {
	margin-bottom: 0;
}

body.page-template-page-home section.common-questions>div>div h3 {
	min-height: 56px;
	margin: 0;
}

@media (max-width: 800px) {
	body.page-template-page-home section.common-questions>div>div h3 {
		min-height: 0;
	}
}