/*-------------------------------------------------------------------

  THESE ARE STYLES FOR USED FOR THE LANDING-2017 PAGE TEMPLATE

-----------------------------------------------------------------*/
/*HERO SHOT*/

.page-template-page-landing-2017 .landing-intro {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	height: 100vh;
	width: 100%;
}

.page-template-page-landing-2017 .landing-intro .intro-content-center {
	display: table-cell;
	vertical-align: middle;
}

.page-template-page-landing-2017 .landing-intro .intro-content {
	margin: 0 auto;
	max-width: 750px;
	text-align: center;
}

.page-template-page-landing-2017 .intro-content .landing-icon {
	background-color: #e2c525;
	background-size: 46px 46px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 75px;
	margin: 70px auto 20px auto;
	padding: 16px;
	position: relative;
	width: 75px;
}

.page-template-page-landing-2017 .intro-content .landing-icon::before {
	background-image: url(../images/landing-icon-before.png);
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 9px;
	left: -125px;
	position: absolute;
	top: 34px;
	width: 97px;
}

.page-template-page-landing-2017 .intro-content .landing-icon::after {
	background-image: url(../images/landing-icon-before.png);
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 9px;
	position: absolute;
	right: -125px;
	top: 34px;
	width: 97px;
}

.page-template-page-landing-2017 .intro-content h1 {
	color: #ffffff;
	font-size: 64px;
	font-weight: 300;
	line-height: 68px;
	margin-top: 0;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/*PAGE CONTENT*/

.page-template-page-landing-2017 .landing-page-content-container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
	padding: 50px 20px;
	min-height: 500px;
	display: table;
	width: 100%;
}

.page-template-page-landing-2017 .landing-page-center {
	display: table-cell;
	vertical-align: middle;
}

.page-template-page-landing-2017 .landing-page-content {
	margin: 0 auto;
	max-width: 750px;
	text-align: center;
}

.page-template-page-landing-2017 .landing-page-content .btn {
	margin-top: 65px;
}

/*INSTAGRAM HASHTAG FEED*/

.page-template-page-landing-2017 .wdi_feed_wrapper {
	text-align: center !important;
}

.page-template-page-landing-2017 .landing-instagram {
	text-align: center;
	padding: 70px 20px;
}

.page-template-page-landing-2017 .landing-instagram-content h2 {
	color: #0c99ae;
	font-family: 'Avenir-Medium', sans-serif;
	font-size: 22px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 30px;
	text-transform: uppercase;
}

.page-template-page-landing-2017 .landing-instagram-content .wdi_feed_container {
	max-width: 1200px;
}

.page-template-page-landing-2017 .landing-instagram-content .wdi_load_more {
	display: none;
}

/*QUESTIONS*/

.page-template-page-landing-2017 .landing-questions {
	text-align: center;
	padding: 100px 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.page-template-page-landing-2017 .landing-questions h2 {
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	font-size: 64px;
	font-weight: 300;
	line-height: 68px;
}

.page-template-page-landing-2017 .landing-questions p {
	color: #ffffff;
	font-family: 'Avenir-Medium', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 22px;
	text-transform: uppercase;
}

/*TESTIMONIES*/

.page-template-page-landing-2017 .testimonals-container {
	text-align: center;
	padding: 75px 20px;
	background-color: #0c99ae;
	height: auto !important;
}

.page-template-page-landing-2017 .testimonals-container .quote {
	background-image: url(../images/icon-quote.png);
	background-color: #e2c525;
	background-size: 35px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 75px;
	margin: 0 auto 20px auto;
	padding: 16px;
	position: relative;
	width: 75px;
}

.page-template-page-landing-2017 .testimonals-container h3 {
	color: #ffffff;
	font-family: 'Avenir-Medium', sans-serif;
	font-size: 22px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 30px;
	text-transform: uppercase;
}

.page-template-page-landing-2017 .testimonals-container .flexslider {
	height: auto !important;
}

.page-template-page-landing-2017 .testimonals-container .flexslider .slidecontent {
	padding-top: 0 !important;
}

.page-template-page-landing-2017 .testimonals-container .flexslider ul li {
	height: auto !important;
	padding-bottom: 25px;
}

.page-template-page-landing-2017 .testimonals-container .flex-control-paging li a.flex-active {
	background: #7b4799 !important;
}

.page-template-page-landing-2017 .testimony p {
	color: #ffffff;
	font-size: 20px;
	line-height: 28px;
	max-width: 1024px;
	width: 95%;
	margin: 0 auto;
}

.page-template-page-landing-2017 .testimony span.author {
	display: block;
	padding: 20px 0;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 22px;
	text-transform: uppercase;
}

/*FOOTER*/

.page-template-page-landing-2017 footer.landing-footer {
	padding: 25px 20px !important;
}

.page-template-page-landing-2017 footer.landing-footer #footertop {
	margin: 0 !important;
}

.page-template-page-landing-2017 footer.landing-footer img {
	float: left;
	width: 85px;
}

.page-template-page-landing-2017 footer.landing-footer p {
	text-align: right;
	color: #fff;
	font-size: 12px;
}

.page-template-page-landing-2017 footer.landing-footer p a {
	color: #fff;
	margin: 0 0 0 15px;
}

@media only screen and (max-width: 500px) {
	.page-template-page-landing-2017 .intro-content .landing-icon {
		margin-top: 50px;
	}

	.page-template-page-landing-2017 .intro-content h1,
	.page-template-page-landing-2017 .landing-questions h2 {
		font-size: 45px;
		line-height: 48px;
	}

	.page-template-page-landing-2017 footer.landing-footer #footertop,
	.page-template-page-landing-2017 footer.landing-footer #footertop p {
		text-align: center !important;
	}

	.page-template-page-landing-2017 footer.landing-footer img {
		float: none;
	}

	.page-template-page-landing-2017 footer.landing-footer p a {
		display: inline-block;
	}
}