/*----------------------------------------------------------------*\
	SINGLE POST
\*----------------------------------------------------------------*/
body.single-post {
	& .headingcontainer {
		max-width: 1200px;
	}

	& main {
		max-width: 800px;
		margin: 48px auto;
		width: 90%;
		clear: both;
		display: block;
		padding-top: 48px;

		& article {
			float: none;

			&+div {
				float: none !important;
			}
		}
	}
}