.single-product {
	& .single-product-wrapper {
		margin-top: 64px;
	}
}

.woocommerce form .password-input,
.woocommerce-page form .password-input {
	display: block;
}

body.woocommerce-edit-account form.woocommerce-EditAccountForm .woocommerce-form-row label {
	float: none;
}

/* VARIATIONS */
.woocommerce table.variations {
	& tr {
		background: transparent;
		border: 0;

		& td.label {
			padding: 0;

			& label {
				color: #3A3B40;
				font-family: "Mulish", Sans-serif;
				font-size: 24px;
				font-weight: 700;
				line-height: 1.25em;
				text-transform: inherit;
				margin: 0;
			}
		}

		& td.value {

			&>*:first-child {
				margin-top: 12px;
			}
		}
	}
}

.woocommerce-variation-price {
	display: none;
}